- content_for :title do
  Centro de Control

- content_for :content_header do
  %nav#content_nav.show-for-medium-up
    %ul
      %li.btn.with-fold
        - if current_user.can?("new", "contract")
          = link_to new_contract_url do
            %i.icon-file-text.icon-2x.task-icon
            %span crear contrato
        - else
          = link_to contracts_url do
            %i.icon-search.icon-2x.task-icon
            %span
              consultar
              %br
              contrato
      %li.btn.with-fold
        - if current_user.can? "new", "inspection_order"
          = link_to new_inspection_order_url do
            %i.icon-pencil.icon-2x.task-icon
            %span
              crear orden
              %br
              de inspección
        - else
          = link_to new_asset_url do
            %i.icon-truck.icon-2x.task-icon
            %span crear activo
      %li.btn.with-fold
        = link_to inspection_orders_url do
          %i.icon-eye-open.icon-2x.task-icon
          %span
            seguimiento orden
            %br
            de inspección
- content_for :sidebar do
  = sidebar_button url: contracts_url, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: assets_url, label: "consultar activos",
    icon: "bar-chart"
  = sidebar_button url: inspections_url, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_url,
    label: "ordenes de inspección", icon: "eye-open"
  - if current_user.can?("new", "inspection_order")
    = sidebar_button url: new_inspection_order_url, class: "call-to-action", |
      label: "Crear orden de inspección", icon: "pencil"                     |
%section#recent-activity
  %h4.section-label.highlight LISTADO ÚLTIMAS ACCIONES
  %ul.icons-ul.comments.infinite-scroll
    - @activities.each do |activity|
      %li.comment
        %i.icon-li.icon-time.icon-2x.icon-flip-horizontal
        .comment-time
          = activity.created_at.strftime("%d.%m.%Y")
        .comment-label
          = activity.owner.full_name if activity.owner
          = localize_time_ago_in_words activity.created_at
        .comment-content
          = render_activity(activity)
%section#help
  = field_set_tag do
    %i.icon-help
    %h4.section-label.highlight AYUDA
    %article
      %h5.section-label Cómo comenzar
      %p Pariatur cliche reprehenderit, enim eiusmod high life accustumus terry richardson ad squid.
    %article
      %h5.section-label Hacer una consulta
      %p Pariatur cliche reprehenderit, enim eiusmod high life accustumus terry richardson ad squid.
