
= form_for @inspection_order_form, url: inspection_orders_path do |f|
  = render 'shared/error_messages', target: @inspection_order_form
  = f.hidden_field :requested_by, value: current_user.id if user_signed_in?
  .row
    %small.required_notification= t('shared.required_notification')
  %section.row
    .field.medium-1.columns
      = f.label :number do
        Número
    .field.medium-3.columns
      = f.text_field :number,                                     |
          data: { autocomplete_source: contracts_path },          |
          placeholder: "Número", autofocus: true, required: true, |
          class: "autocomplete"                                   |
    .field.small-6.medium-1.columns.text-right
      = f.radio_button :number_from, :contract, checked: true
    .field.small-6.medium-2.columns.text-left
      = f.label :number_from_contract do
        Contrato
    .field.small-6.medium-1.columns.text-right
      = f.radio_button :number_from, :asset
    .field.small-6.medium-2.columns.text-left.medium-pull-2
      = f.label :number_from_asset do
        Activo
  .row
    .field.medium-1.columns
      = f.label :recurring do
        Renovar?
    .field.medium-1.columns.text-left
      = f.check_box :recurring
    .field.medium-3.columns
      = f.label :renew_period do
        Cada:
      = f.number_field :renew_period, in: 1...13, placeholder: "meses"
    .field.medium-3.columns.pull-3
      = f.label :priority do
        Prioridad:
      = f.select :priority, [["Alta", "high"],["Normal", "normal"]]
  .row
    .field.medium-9.columns
      = f.label :note_content do
        Notas
      = f.text_area :note_content, required: true
  .row
    .actions
      = f.submit "Generar Orden de Inspección"
  .row
    .medium-9.columns
      .contract_info
      .asset_info
