- content_for :title do
  AH - Ordenes de Inspección
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR ORDENES DE INSPECCIÓN"
- content_for :sidebar do
  = sidebar_button url: inspection_orders_url(status: :generated),
    label: "ordenes generadas", icon: "book"
  = sidebar_button url: inspection_orders_url(status: :pending),
    label: "ordenes pendientes", icon: "spinner"
  = sidebar_button url: inspection_orders_url(status: :scheduled),
    label: "ordenes agendadas", icon: "calendar"
  = sidebar_button url: inspection_orders_url(status: :inspected),
    label: "ordenes inspeccionadas", icon: "check"
  = sidebar_button url: contracts_url, label: 'consultar contratos',
    icon: 'search'
  = sidebar_button url: assets_url, label: 'consultar activos', icon: 'truck'
  - if current_user.can?(:create, :inspection_order)
    = sidebar_button url: new_inspection_order_url, class: "call-to-action",
      label: 'crear orden de inspección', icon: 'pencil'
%div{ "data-no-turbolink" => "" }
.search-box-container.row
  = form_tag inspection_orders_url, method: :get do
    .field.medium-4.columns
      = search_field_tag :query, nil, placeholder: "Buscar"
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_range do
        %i.icon-time.icon-large
        solicitud
      = radio_button_tag :options, :by_range
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_asset do
        %i.icon-truck.icon-large
        activo
      = radio_button_tag :options, :by_asset
    .field.small-6.medium-2.columns.center.pull-2
      = label_tag :options_by_contract do
        %i.icon-file-text.icon-large
        contrato
      = radio_button_tag :options, :by_contract
.content-container.row
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('.number')
        %th= t('.date')
        %th= t('.asset')
        %th= t('.contract')
        %th= t('.recurring')
        %th= t('.renew_period')
        %th= t('.status')
    %tbody
      - @inspection_orders.each do |inspection_order|
        %tr
          %td.identifier.center{"data-label" => "#{t('.number')}"}= link_to inspection_order.id, inspection_order_url(inspection_order)
          %td{"data-label" => "#{t('.date')}"}= inspection_order.created_at.strftime('%d-%m-%y %r %Z')
          %td{"data-label" => "#{t('.asset')}"}= inspection_order.asset.license_plate
          %td{"data-label" => "#{t('.contract')}"}= inspection_order.asset.contract_number
          %td{"data-label" => "#{t('.recurring')}"}= inspection_order.recurring ? "Si" : "No"
          %td{"data-label" => "#{t('.renew_period')}"}= show_renew_period inspection_order.renew_period
          %td{"data-label" => "#{t('.status')}"}= show_status inspection_order.status
  %section.row
    = render 'shared/pagination', collection: @inspection_orders
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
      regresar
