- content_for :title do
  = "orden de inspección: #{ @inspection_order.id }"
- content_for :sidebar do
  = sidebar_button url: inspections_url, label: "consultar inspecciones",
    icon: "list"
  - if policy(@inspection_order).edit?
    = sidebar_button url: edit_inspection_order_url(@inspection_order),
      label: "cambiar estado orden de inspección", icon: "edit"
  - if current_user.can?(:create, :inspection)
    = sidebar_button url: new_inspection_url(inspection_order: @inspection_order.id,
      asset_license_plate: @inspection_order.asset_license_plate),
      label: "registrar inspección", icon: "paste"
  = sidebar_button url: inspection_orders_url,
    label: "consultar ordenes de inspección", icon: "eye-open"
  - if current_user.can?(:create, :inspection_order)
    = sidebar_button url: new_inspection_order_url, class: "call-to-action",
      label: "crear nueva orden de inspección", icon: "pencil"
.detail-title
  %span#model_number= "#{ @inspection_order.id }"
  %span#model_title
    = "Orden de Inspección"
.content-container.row
  %section.row
    %h4.section-label= 'Activo'
    .row
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.kind_id')}"
        = @inspection_order.asset_kind_name
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.license_plate')}"
        = link_to @inspection_order.asset_license_plate, @inspection_order.asset
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.chassis_number')}"
        = @inspection_order.asset_chassis_number
    .row
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.make_id')}"
        = @inspection_order.asset_make_name
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.model_id')}"
        = @inspection_order.asset_model_name
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.year')}"
        = @inspection_order.asset_year
  %section.row
    %h4.section-label= "Orden de Inspección"
    .row
      .medium-4.columns
        %h5.field-title= "Fecha de solicitud"
        = @inspection_order.created_at.localtime.strftime("%d/%m/%Y")
      .medium-4.columns
        %h5.field-title= "Última actualización"
        = @inspection_order.updated_at.localtime.strftime("%d/%m/%Y")
      .medium-4.columns
        %h5.field-title= "Estado"
        = show_status @inspection_order.status
    .row
      .medium-4.columns
        %h5.field-title= "Prioridad"
        = show_priority @inspection_order.priority
      - if @inspection_order.inspected?
        .medium-4.columns
          %h5.field-title= "Acta de Inspección"
          = link_to @inspection_order.inspection.inspection_number, @inspection_order.inspection
      - if @inspection_order.scheduled_date.present?
        .medium-4.columns
          %h5.field-title= "Fecha Programada"
          = @inspection_order.scheduled_date.strftime("%d/%m/%Y")
    - if @inspection_order.recurring?
      .row
        .medium-4.columns
          %h5.field-title= "Recurrente?"
          = "Si"
        .medium-4.columns
          %h5.field-title= "Periodo"
          = show_renew_period @inspection_order.renew_period
        .medium-4.columns
          %h5.field-title= "Fecha próxima orden"
          = next_inspection_date(@inspection_order.created_at,
            @inspection_order.renew_period)
  %section.row
    %h4.section-label= "Solicitante"
    .medium-6.columns
      %b= @inspection_order.requester_full_name
  %section.row
    - unless @inspection_order.notes.empty?
      %h4.section-label= "Notas"
      %ul.icons-ul.comments
        = render @inspection_order.notes.includes(:user)
    %h4.section-label= "Agregar nota"
    = render 'comments/form', comment: Comment.new, commentable: @inspection_order
  =render "shared/content_footer", target: :back
