<%= form_for(@model) do |f| %>
  <%= render 'shared/error_messages', target: @model %>

  <div class="field">
    <%= f.label :make_id, 'To which make does this model belong to: ' %><br />
    <%= f.collection_select :make_id, Make.all, :name, :id, prompt: 'Choose a make' %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
