%li.comment{id: "comment-#{comment.id}"}
  %i.icon-li.icon-time.icon-2x.icon-flip-horizontal
  .comment-time
    = comment.updated_at.strftime("%d/%m/%Y")
  .comment-label
    = "#{ comment.user.full_name }."
    = localize_time_ago_in_words comment.updated_at
  .comment-content
    = comment.content
  = link_to edit_comment_path(comment), remote: true do
    %i.icon-edit
