= form_for comment, remote: true do |f|
  = render 'shared/error_messages', target: comment
  - unless comment.commentable.present?
    = f.hidden_field :commentable_id, value: commentable.id
    = f.hidden_field :commentable_type, value: commentable.class
  = f.hidden_field :user_id, value: current_user.id if user_signed_in?
  .field
    = f.text_area :content, placeholder: t('.placeholder'), cols: '80', rows: '10'
  .actions
    = f.submit
    = link_to '', '', class: 'tiny button alert radius icon-remove-circle icon-large'
