<h1>Listing build_restrictions</h1>

<table>
  <tr>
    <th>Kind</th>
    <th>Body</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @build_restrictions.each do |build_restriction| %>
  <tr>
    <td><%= build_restriction.kind_id %></td>
    <td><%= build_restriction.body_id %></td>
    <td><%= link_to 'Show', build_restriction %></td>
    <td><%= link_to 'Edit', edit_build_restriction_path(build_restriction) %></td>
    <td><%= link_to 'Destroy', build_restriction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Build restriction', new_build_restriction_path %>
