<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @build_restriction.kind_id %>
</p>

<p>
  <b>Body:</b>
  <%= @build_restriction.body_id %>
</p>


<%= link_to 'Edit', edit_build_restriction_path(@build_restriction) %> |
<%= link_to 'Back', build_restrictions_path %>
