.contract_info
  %h4.section-label= t('contracts.form.fieldset.information')
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.number')}:"
    %span.large-8.columns
      = link_to contract.number, contract
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.start_date')}:"
    %span.large-8.columns
      = contract.start_date
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.category_id')}:"
    %span.large-8.columns
      = contract.category_name
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.first_canon_date')}:"
    %span.large-8.columns
      = contract.first_canon_date
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.expiration_date')}:"
    %span.large-8.columns
      = contract.expiration_date
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.contract.lessee')}:"
    %span.large-8.columns
      = link_to contract.lessee_name, contract.lessee
  .row
    %b.large-4.columns= "#{t('activerecord.attributes.entity.identification_number')}:"
    %span.large-8.columns
      = contract.lessee_identification_type_name
      = contract.lessee_identification_number
