= form_for @contract do |form|
  = render 'shared/error_messages', target: @contract
  .row
    %small.required_notification= t('shared.required_notification')
  %h4.section-label= "Informaci칩n B치sica"
  .row
    .field.medium-3.columns
      = form.label :number
      = form.text_field :number, placeholder: 'i.e. 1189719-989', |
        required: true                                            |
    .field.medium-3.columns.pull-6
      = form.label :category_id
      = form.collection_select :category_id, @categories, :id, :name, |
        prompt: true, required: true                                  |
  .row
    .field.medium-3.columns
      = form.label :start_date do
        %i.icon-calendar
        Fecha de Inicio
      = form.text_field :start_date, placeholder: 'yyyy-mm-dd', |
        class: 'date-field', required: true                     |
    .field.medium-3.columns
      = form.label :first_canon_date do
        %i.icon-calendar
        Fecha Pago Primer Canon
      = form.text_field :first_canon_date, placeholder: 'yyyy-mm-dd', |
        class: 'date-field', required: true                           |
    .field.medium-1.columns
      = form.label :duration
      = form.number_field :duration, required: true, min: 1
    .field.medium-2.columns
      = form.label :periodicity
      = form.select :periodicity, [[t('.months'),1], [t('.quarters'),3], |
        [t('.semesters'),6], [t('.years'),12]]                           |
    .field.medium-3.columns
      = form.label :expiration_date do
        %i.icon-calendar
        Fecha de Finalizaci칩n
      = form.text_field :expiration_date, placeholder: 'yyyy-mm-dd', |
        class: 'date-field', required: true                          |
  .row
    .field.medium-4.columns
      = form.label :total_value
      = form.number_field :total_value, placeholder: 'i.e. 12000000', |
        step: "any"                                                   |
    .field.medium-3.columns
      = form.label :currency
      = form.select :currency,                                          |
        TwitterCldr::Shared::Currencies.currency_codes, selected: "COP" |
    .field.medium-5.columns
      = form.label :lessee_name
      = form.text_field :lessee_name,                                 |
        data: { autocomplete_source: entities_path }, required: true, |
        class: "autocomplete"                                         |
  .row
    .field.medium-2.columns.center
      = form.label :option_to_buy
      = form.check_box :option_to_buy
    .field.medium-4.columns
      = form.label :last_date_to_option do
        %i.icon-calendar
        Fecha Opci칩n de Compra
      = form.text_field :last_date_to_option, placeholder: 'yyyy-mm-dd', |
        class: 'date-field'                                              |
    .field.medium-6.columns
      = form.label :location_of_assets
      = form.text_field :location_of_assets,                    |
        placeholder: t('.placeholder.location'), required: true |
  %h4.section-label= "Codeudores"
  = form.fields_for :cosigners do |cosigner_form|
    = render 'cosigner_fields', f: cosigner_form
  .row
    = link_to_add_fields "Agregar Codeudor", form, :cosigners
  .actions
    = form.submit
    = link_to t('.cancel'), contracts_url,                            |
      class: 'small button button-tny alert radius icon-remove-sign', |
      data: { disable_with: t('.disable') }                           |
