<h1><%= t('.title') %></h1>

<%= render 'form', object: @contract %>

<%= link_to t('.show'), @contract, class: 'icon-mail-reply' %>
<%= link_to t('.index'), contracts_path, class: 'icon-list-alt' %>
<%= link_to t('shared.back'), :back, class: 'icon-reply-mail' %>

