
<h1><%=t('.title') %></h1>
<p><%= link_to t('.new_btn'), new_contract_url, class: 'icon-file button success radius' %></p>
<div class='row'>
  <table class="responsive-table layout display">
    <thead>
      <tr>
        <th><%= t('activerecord.attributes.contract.number') %></th>
        <th><%= t('.created_at') %></th>
        <th><%= t('activerecord.attributes.contract.start_date') %></th>
        <th><%= t('activerecord.attributes.contract.expiration_date') %></th>
        <th><%= t('activerecord.attributes.contract.lessee') %></th>
        <th><%= t('activerecord.attributes.contract.category_id') %></th>
        <th><%= t('.assets') %></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contracts.each do |contract| %>
      <tr>
        <td data-label="<%= t('.responsive.number') %>" class="identifier"><%= link_to contract.number, contract %></td>
        <td data-label="<%= t('.responsive.created') %>"><%= contract.created_at.localtime.strftime('%d-%m-%Y, %r %Z') %></td>
        <td data-label="<%= t('.responsive.start_date') %>"><%= contract.start_date %></td>
        <td data-label="<%= t('.responsive.expiration_date') %>"><%= contract.expiration_date %></td>
        <td data-label="<%= t('.responsive.lessee') %>"><%= link_to contract.lessee_name, contract.lessee %></td>
        <td data-label="<%= t('.responsive.category') %>"><%= contract.category_name %></td>
        <td data-label="<%= t('.responsive.assets') %>" class='center'><%= contract.asset_count %></td>
        <td class="actions edit">
          <%= link_to "", edit_contract_url(contract.id), class: 'icon-edit' %>
        </td>
        <td class="actions delete">
          <%= link_to "", contract_url(contract.id), class: 'icon-trash', method: :delete, confirm: "Are you completely sure you want to erase contract #{contract.number}?" %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class='row'>
  <%= paginate @contracts %>
</div>
