<%= link_to "Home", "/index" %>
<h1>Active Lease Contracts</h1>
<p><%= link_to "+ Add a new contract", new_contract_url %></p>
<table>
  <thead>
    <tr>
      <th>Contract Number</th>
      <th>Date Added</th>
      <th>Starting Date</th>
      <th>Expiration Date</th>
      <th>Lessee</th>
      <th>Category</th>
      <th>Number of Assets</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
    <tr>
      <td><%= contract.number %></td>
      <td><%= contract.created_at.localtime %></td>
      <td><%= contract.start_date %></td>
      <td><%= contract.expiration_date %></td>
      <td><%= contract %></td>
      <td><%= contract.category.name %></td>
      <td><%= contract.asset_count %></td>
      <td>
        <%= link_to "View", contract_url(contract.id) %> |
        <%= link_to "Edit", edit_contract_url(contract.id) %> |
        <%= link_to "Delete", contract_url(contract.id), :method => :delete, :confirm => "Are you completely sure you want to erase contract #{contract.number}?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
