- content_for :title do
  = t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR CONTRATO"
- content_for :sidebar do
  -if current_user.can? :create, :contract
    = sidebar_button url: new_contract_url, label: "crear nuevo contrato",
      icon: "file-text"
  = sidebar_button url: entities_path, label: "consultar personas",
    icon: "group"
  = sidebar_button url: assets_path, label: "consultar activos",
    icon: "truck"
  = sidebar_button url: inspections_path, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_path,
    label: "seguimiento orden de inspeccion", icon: "eye-open"
  - if current_user.can? :create, :inspection_order
    = sidebar_button url: new_inspection_order_path, class: "call-to-action",
      label: "crear orden de inspección", icon: "pencil"
.search-box-container.row
  = form_tag contracts_path, method: :get do
    .field.medium-4.columns
      = search_field_tag :contract_query, nil, placeholder: "Busqueda"
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_number do
        %i.icon-barcode.icon-large
        número
      = radio_button_tag :query_options, :by_number
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_date do
        %i.icon-time.icon-large
        fecha
      = radio_button_tag :query_options, :by_date
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_range do
        %i.icon-resize-full.icon-large
        rango
      = radio_button_tag :query_options, :by_range
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_lessee do
        %i.icon-user.icon-large
        locatario
      = radio_button_tag :query_options, :by_lessee
.content-container.row
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('activerecord.attributes.contract.number')
        %th= "Inicio"
        %th= "Finalización"
        %th= t('activerecord.attributes.contract.lessee')
        %th= t('activerecord.attributes.contract.category_id')
        %th= t('.assets')
    %tbody
      - @contracts.each do |contract|
        %tr
          %td.identifier{"data-label" => t('.responsive.number')}= link_to contract.number, contract
          %td{"data-label" => t('.responsive.start_date')}= contract.start_date.strftime("%d/%m/%Y")
          %td{"data-label" => t('.responsive.expiration_date')}= contract.expiration_date.strftime("%d/%m/%Y")
          %td{"data-label" => t('.responsive.lessee')}= link_to contract.lessee_name, contract.lessee
          %td{"data-label" => t('.responsive.category')}= contract.category_name
          %td.center{"data-label" => t('.responsive.assets')}= contract.asset_count
  %section.row
    = render 'shared/pagination', collection: @contracts
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
    regresar
