
<h1>Active Lease Contracts</h1>
<p><%= link_to " New contract", new_contract_url, class: 'icon-file button success radius' %></p>
<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Date Added</th>
      <th>Starting Date</th>
      <th>Expiration Date</th>
      <th>Lessee</th>
      <th>Category</th>
      <th>Assets</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @contracts.each do |contract| %>
    <tr>
      <td><%= link_to contract.number, contract %></td>
      <td><%= contract.created_at.localtime.strftime('%d-%m-%Y, %r %Z') %></td>
      <td><%= contract.start_date %></td>
      <td><%= contract.expiration_date %></td>
      <td><%= link_to contract.lessee.name, contract.lessee %></td>
      <td><%= contract.category.name %></td>
      <td class='center'><%= contract.assets.count %></td>
      <td>
        <%= link_to "", edit_contract_url(contract.id), class: 'icon-edit' %>
      </td>
      <td>
        <%= link_to "", contract_url(contract.id), class: 'icon-trash', method: :delete, confirm: "Are you completely sure you want to erase contract #{contract.number}?" %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
