<h1>create a new leasing contract</h1>
<%= form_tag contracts_url do %>
  <%= field_set_tag "Main contract information" do %>
    <p>
      <%= label_tag :number, "Contract number:" %>
      <%= text_field_tag :number, nil, :placeholder => "e.g. 1101011-123" %>
      <%= label_tag :category_id, "Type of contract:" %>
      <%= select_tag :category_id, options_from_collection_for_select(@categories, "id", "name"), :prompt => "Choose a category" %></p>
    <p>
      <%= label_tag :start_date, "Starting date:" %>
      <%= date_select :contract, :start_date, :order => [:day, :month, :year] %>


      <%= label_tag :month_duration, "Duration (months):" %>
      <%= select_tag :month_duration, options_for_select((1..120)), :prompt => "Choose duration" %>


      <%= label_tag :expiration_date, "Expiration date:" %>
      <%= date_select :contract, :expiration_date, :order => [:day, :month, :year] %>
    </p>
    <p>
      <%= label_tag :total_value, "Total value: $" %>
      <%= text_field_tag :total_value, nil, :placeholder => "120500000.25" %>
    </p>
    <p>
      <%= label_tag :option_to_buy, "Buying option?" %>
      <%= check_box_tag :option_to_buy, nil, false %>
      <%= label_tag :last_date_to_option, "Last date to excercise option: " %>
      <%= date_select :contract, :last_date_to_option, :order => [:day, :month, :year] %>
    </p>
    <p>
      <%= label_tag :asset_count, "How many assets does this contract have?" %>
      <%= select_tag :asset_count, options_for_select((1..50)), :prompt => "Choose number of assets" %>
    </p>
    <p>
      <%= label_tag :location_of_assets, "Where are the assets going to be located?" %>
      <%= text_field_tag :location_of_assets, nil, :placeholder => "e.g. City, Region, Country",  :style => "width:350px" %>
    </p>
  <% end %>
  <%#= field_set_tag "Leesse Information" do %>
  <%# end %>
  <%#= field_set_tag "Assets Information" do %>
  <%# end %>
  <%= link_to "Cancel", contracts_url, :confirm => "Are you sure you want to cancel?", :disable_with => "Creating a new contract...", :class => "right" %>
  <%= submit_tag "Add a contract", :class => "right" %>
<% end %>


<%= link_to "< Back to contracts", contracts_url %>
