<h1>contract number: <%= @contract.number %></h1>

<h2>Contract Details</h2>
<div>
  <b>Contract category: </b>
  <%= @contract.category.name %>
</div>
<div>
  <b>Contract start date: </b>
  <%= @contract.start_date %>
  <b>Contract first canon payment date: </b>
  <%= @contract.first_canon_date %>
  <b>Contract expiration date: </b>
  <%= @contract.expiration_date %>
</div>
<div>
  <% if @contract.option_to_buy %>
    <b>Last date to excercise option to buy assets: </b>
    <%= @contract.last_date_to_option %>
  <% end %>
  <b>Contract Duration: </b>
  <!-- FIXME Take logic out of here. Use presenter method -->
    <%= pluralize @contract.duration,
    case @contract.periodicity
        when 1
          "month"
        when 3
          "quarter"
        when 6
          "semester"
        when 12
          "years"
      end %>
</div>
<div>
  <b>Total contract value: </b>
  <b><%= @contract.currency %></b>
  <%= number_to_currency @contract.total_value, unit: '' %>
</div>
<div>
  <b>Assets in this contract: </b>
  <%= @contract.assets.count %>
 <b>Location of assets: </b>
  <%= @contract.location_of_assets %>
</div>

  <h2>Lessee Information</h2>
<div>
  <h3>Lessee</h3>
  <p>
    <b>Name: </b>
    <%= link_to @lessee.name, @lessee %>
    <b>Identification Document: </b>
    <%= @lessee.identification_type.name %> <%= @lessee.identification_number %>
  </p>
  <p>
    <b>Address: </b>
    <%= @lessee.address %>, <%= @lessee.city %>, <%= @lessee.state %>
  </p>
</div>
<div>
  <% unless @cosigners.empty? %>
    <h3>Cosigners</h3>
    <p>
      <% @cosigners.map(&:entity).each do |cosigner| %>
        <p>
          <b>Name: </b>
          <%= link_to cosigner.name, cosigner %>
          <b>Identification Document: </b>
          <%= cosigner.identification_type.name %> <%= cosigner.identification_number %>
        </p>
        <p>
          <b>Address: </b>
          <%= cosigner.address %>, <%= cosigner.city %>, <%= cosigner.state %>
        </p>
      <% end %>
    </p>
  <% end %>
</div>

<% if @contract.asset_count > 0 %>
<br />
<div class="contract-assets table">
  <%= render 'assets/asset_index', assets: @contract.assets %>
</div>
<% end %>

<%= render 'documents/index', documentable: @contract %>
<%#= render 'documents/form', document: Document.new, documentable: @contract %>
<br/>
<%= render 'comments/index', commentable: @contract %>
<p>
  <%= link_to ' Back', contracts_path, class: 'icon-reply' %>
  <%= link_to ' Edit', edit_contract_path(@contract), class: 'icon-edit' %>
</p>
