<h1>contract details</h1>

<p> <b>Contract number:</b> <%= @contract.number %> &nbsp &nbsp <b>Category:</b> <%= @contract.category.name %></p>
<p> <b>Starting date:</b> <%= @contract.start_date %>&nbsp &nbsp <b>Expiration date:</b> <%= @contract.expiration_date %></p>
<p> <b>Duration:</b> <%= @contract.month_duration %> months</p>
<br>
<p> <b>Total value:</b> <%= number_to_currency(@contract.total_value) %></p>
<% if @contract.option_to_buy %>
<p> Client has option to buy? <b>yes</b> &nbsp &nbsp
 Client's last date to exercise his buying option: <%= @contract.last_date_to_option %></p>
<% end %>
<p> <b>Total number of assets:</b> <%= @contract.assets.count %> &nbsp&nbsp
  <b>Location of assets:</b> <%= @contract.location_of_assets %></p>
<h2>Assets: </h2>
<table>
  <thead>
    <tr>
      <th>Inventory number</th>
      <th>Licence plate</th>
      <th>Book value</th>
      <th>Number of inspections</th>
      <th>Last Inspection</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <% @contract.assets.each do |asset| %>
      <td>
        <%= link_to asset.inventory_number, asset_url(asset.id) %>
      </td>
      <td>
        <%= asset.licence_plate %>
      </td>
      <td>
        <%= number_to_currency(asset.book_value) %>
      </td>
      <td>0</td>
      <td>None</td>
    <% end %>
    </tr>
  </tbody>
</table>
<ul>

</ul>


