- content_for :title do
  = "contrato: #{@contract.number}"
- content_for :sidebar do
  %li.btn-tny.inactive
    = link_to edit_contract_path(@contract) do
      editar contrato
      %i.icon-edit.task-icon.icon-large
  %li.btn-tny.inactive
    = link_to new_asset_url(contract: @contract.number) do
      agregar activo
      %i.icon-truck.task-icon.icon-large
  %li.btn-tny.inactive
    = link_to new_contract_url do
      agregar contrato
      %i.icon-file-text.task-icon.icon-large
.detail-title
  %span#model_number= @contract.number
  %span#model_title= "#{t('activerecord.attributes.contract.number')}"
.content-container.row
  .row
    %section#basic_info.large-6.columns
      %h4.section-label= t('.fieldset.information')
      .row
        %b.large-6.columns= "#{t('activerecord.attributes.contract.category_id')}:"
        %span.large-6.columns
          = @contract.category_name
      .row
        %b.large-6.columns
          = t('activerecord.attributes.contract.start_date')
          \:
        %span.large-6.columns
          = @contract.start_date.strftime "%d/%m/%Y"
      .row
        %b.large-6.columns
          = t 'activerecord.attributes.contract.duration'
          \:
        %span.large-6.columns
          = "#{@contract.duration} #{contract_periodicity(@contract.periodicity)}"
      .row
        %b.large-6.columns
          = t 'activerecord.attributes.contract.asset_count'
          \:
        %span.large-6.columns
          = @contract.asset_count
      .row
        %b.large-6.columns
          = "#{ t('activerecord.attributes.contract.first_canon_date') }:"
        %span.large-6.columns
          = @contract.first_canon_date.strftime "%d/%m/%Y"
      .row
        %b.large-6.columns
          = t 'activerecord.attributes.contract.expiration_date'
          \:
        %span.large-6.columns
          = @contract.expiration_date.strftime "%d/%m/%Y"
      .row
        %b.large-6.columns
          = t 'activerecord.attributes.contract.total_value'
          \:
        %span.large-6.columns
          = @contract.currency
          = number_to_currency @contract.total_value
      .row
        %b.large-6.columns
          = t 'activerecord.attributes.contract.location_of_assets'
          \:
        %span.large-6.columns
          = @contract.location_of_assets
      - if @contract.option_to_buy?
        .row
          %b.large-6.columns
            = t 'activerecord.attributes.contract.last_date_to_option'
            \:
          %span.large-6.columns
            = @contract.last_date_to_option.strftime "%d/%m/%Y"
    %section#lessee_info.large-6.columns
      %h4.section-label= t('.fieldset.lessee')
      = render @lessee
      - unless @cosigners.empty?
        %h4.section-label= t('.fieldset.cosigners')
        = render @cosigners.map(&:entity)
  - if @contract.asset_count > 0
    %section#assets_info.row
      %h4.section-label= t('.fieldset.assets')
      = render 'assets/asset_index', assets: @contract.assets.includes(:make, :model)
  %section#documents.row
    = render 'documents/index', documentable: @contract
  %section#comments.row
    = render 'comments/index', commentable: @contract
  %section#document-upload.row
    = render 'documents/form', document: Document.new, documentable: @contract
= render "shared/content_footer", target: contracts_path
