<h1>Contract number: <%= @contract.number %></h1>
<%= field_set_tag 'Details' do %>
  <div class='row'>
    <b class='large-3 columns'>Contract category: </b>
    <span class='large-3 columns pull-6'>
      <%= @contract.category.name %>
    </span>
  </div>
  <div class='row'>
    <b class='large-2 columns'>Start date: </b>
    <span class='large-2 columns'>
    <%= @contract.start_date %>
    </span>
    <b class='large-2 columns'>First canon payment date: </b>
    <span class='large-2 columns'>
    <%= @contract.first_canon_date %>
    </span>
    <b class='large-2 columns'>Expiration date: </b>
    <span class='large-2 columns'>
    <%= @contract.expiration_date %>
    </span>
  </div>
  <div class='row'>
    <b class='large-3 columns'>Contract Duration: </b>
    <span class="large-3 columns">
    <%= pluralize @contract.duration,
      case @contract.periodicity
      when 1
        "month"
      when 3
        "quarter"
      when 6
        "semester"
      when 12
        "years"
      end %>
    </span>
    <b class='large-3 columns'>Total contract value: </b>
    <span class="large-3 columns">
      <b><%= @contract.currency %></b>
      <%= number_to_currency @contract.total_value %>
    </span>
  </div>
  <div class='row'>
    <b class='large-3 columns'>Assets in this contract: </b>
    <span class="large-3 columns">
    <%= @contract.assets.count %>
    </span>
    <b class='large-3 columns'>Location of assets: </b>
    <span class="large-3 columns">
    <%= @contract.location_of_assets %>
  </span>
  </div>
  <% if @contract.option_to_buy? %>
    <div class="row">
      <b class='large-3 columns'>Last date to excercise option to buy assets: </b>
      <span class='large-3 columns pull-6'>
      <%= @contract.last_date_to_option %>
      </span>
    </div>
  <% end %>
<% end %>
<%= field_set_tag "Lessee Information" do %>
  <%= render 'entities/entity', entity: @lessee %>
<% end %>
<% unless @cosigners.empty? %>
  <%= field_set_tag 'Cosigners' do %>
    <% @cosigners.map(&:entity).each do |cosigner| %>
      <%= render 'entities/entity', entity: cosigner %>
    <% end %>
  <% end %>
<% end %>

<% if @contract.asset_count > 0 %>
  <%= field_set_tag 'Assets' do %>
    <%= render 'assets/asset_index', assets: @contract.assets %>
  <% end %>
<% end %>

<%= render 'documents/index', documentable: @contract %>
<%#= render 'documents/form', document: Document.new, documentable: @contract %>
<br/>
<%= render 'comments/index', commentable: @contract %>
<p>
  <%= link_to ' Back', contracts_path, class: 'icon-reply' %>
  <%= link_to ' Edit', edit_contract_path(@contract), class: 'icon-edit' %>
</p>
