- content_for :title do
  = "contrato: #{@contract.number}"
- content_for :sidebar do
  - if policy(@contract).edit?
    = sidebar_button url: edit_contract_path(@contract), label: "editar contrato",
      icon: "edit"
  - if current_user.can?(:create, :asset)
    = sidebar_button url: new_asset_url(contract: @contract.number),
      label: "agregar activo", icon: "truck"
  - if policy(@contract).new?
    = sidebar_button url: new_contract_url, label: "agregar contrato",
      icon: "file-text"
  - if policy(@contract).destroy?
    = sidebar_button url: @contract, label: "eliminar contrato",
      icon: "trash", method: :delete
  = sidebar_button url: contracts_url, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: entities_url, label: "consultar personas",
    icon: "group"
  = sidebar_button url: inspection_orders_url,
    label: "seguimiento ordenes de inspección", icon: "eye-open"
  - if current_user.can?(:create, :inspection_order)
    = sidebar_button url: new_inspection_order_url(number: @contract.number, number_from: "contract"),
      class: "call-to-action", label: "Crear orden de inspección", icon: "pencil"
%header.detail-title.row
  %span#model_number= @contract.number
  %span#model_title= "#{t('activerecord.attributes.contract.number')}"
.content-container.row
  .row
    %section#basic_info.medium-6.columns
      %h4.section-label= t('.fieldset.information')
      .row
        %b.medium-6.columns= "#{t('activerecord.attributes.contract.category_id')}:"
        %span.medium-6.columns
          = @contract.category_name
      .row
        %b.medium-6.columns
          = t('activerecord.attributes.contract.start_date')
          \:
        %span.medium-6.columns
          = @contract.start_date.strftime "%d/%m/%Y"
      .row
        %b.medium-6.columns
          = t 'activerecord.attributes.contract.duration'
          \:
        %span.medium-6.columns
          = "#{@contract.duration} #{contract_periodicity(@contract.periodicity)}"
      .row
        %b.medium-6.columns
          = t 'activerecord.attributes.contract.asset_count'
          \:
        %span.medium-6.columns
          = @contract.asset_count
      .row
        %b.medium-6.columns
          = "#{ t('activerecord.attributes.contract.first_canon_date') }:"
        %span.medium-6.columns
          = @contract.first_canon_date.strftime "%d/%m/%Y"
      .row
        %b.medium-6.columns
          = t 'activerecord.attributes.contract.expiration_date'
          \:
        %span.medium-6.columns
          = @contract.expiration_date.strftime "%d/%m/%Y"
      .row
        %b.medium-6.columns
          = t 'activerecord.attributes.contract.total_value'
          \:
        %span.medium-6.columns
          = @contract.currency
          = number_to_currency @contract.total_value
      .row
        %b.medium-6.columns
          = t 'activerecord.attributes.contract.location_of_assets'
          \:
        %span.medium-6.columns
          = @contract.location_of_assets
      - if @contract.option_to_buy?
        .row
          %b.medium-6.columns
            = t 'activerecord.attributes.contract.last_date_to_option'
            \:
          %span.medium-6.columns
            = @contract.last_date_to_option.strftime "%d/%m/%Y"
    %section#lessee_info.medium-6.columns
      %h4.section-label= t('.fieldset.lessee')
      = render @contract.lessee
      - unless @contract.cosigners.empty?
        %h4.section-label= t('.fieldset.cosigners')
        = render @contract.cosigners.map(&:entity)
  - if @contract.asset_count > 0
    %section#assets_info.row.separator
      %h4.section-label= t('.fieldset.assets')
      = render 'assets/asset_index', assets: @contract.assets.includes(:make, :model)
  %section#documents.row.separator
    = render 'documents/index', documentable: @contract
  %section#comments.row.separator
    = render 'comments/index', commentable: @contract
  -if current_user.can?(:create, :document)
    %section#document-upload.row
      = render 'documents/form', document: Document.new, documentable: @contract
= render "shared/content_footer", target: contracts_path
