<h1>contract details</h1>

<div>
  <b>Contract number: </b>
  <%= @contract.number %>
  <b>Contract category: </b>
  <%= @contract.category.name %>
</div>
<div>
  <b>Contract start date: </b>
  <%= @contract.start_date %>
</div>
<div>
  <b>Contract first canon payment date: </b>
  <%= @contract.first_canon_date %>
</div>
<div>
  <b>Contract expiration date: </b>
  <%= @contract.expiration_date %>
</div>
<div>
  <% if @contract.option_to_buy %>
  <b>Last date to excercise option to buy assets: </b>
  <%= @contract.last_date_to_option %>
  <% end %>
</div>
<div>
  <b>Contract Duration: </b>
    <%= pluralize @contract.duration,
    case @contract.periodicity
        when 1
          "month"
        when 3
          "quarter"
        when 6
          "semester"
        when 12
          "years"
      end %>
</div>
<div>
  <b>Total contract value: </b>
  <b><%= @contract.currency %></b>
  <%= number_to_currency @contract.total_value, unit: '' %>
</div>
<div>
  <b>Assets in this contract: </b>
  <%= @contract.assets.count %>
</div>
<div>
 <b>Location of assets: </b>
  <%= @contract.location_of_assets %>
</div>

<% if @contract.assets.count > 0 %>
<br />
<div class="contract-assets table">
  <table>
    <thead>
      <tr>
        <th>Inventory number</th>
        <th>Licence plate</th>
        <th>Make</th>
        <th>Model</th>
        <th>Year</th>
        <th>Service type</th>
        <th>Initial Value</th>
      </tr>
    </thead>
    <tbody>
      <% @contract.assets.each do |asset| %>
        <tr>
          <td> <%= link_to asset.inventory_number, asset_url(asset.id) %> </td>
          <td> <%= asset.license_plate %> </td>
          <td> <%= asset.make.name %> </td>
          <td> <%= asset.model.name %> </td>
          <td> <%= asset.year %> </td>
          <td> <%= asset.service_type %> </td>
          <td> <%= "#{@contract.currency} #{number_to_currency asset.book_value, unit: ''}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
