<h1><%= "#{t('activerecord.attributes.contract.number')}: #{@contract.number}" %></h1>
<%= field_set_tag t('.fieldset.information') do %>
  <div class='row'>
    <b class='large-3 columns'><%= "#{t('activerecord.attributes.contract.category_id')}" %></b>
    <span class='large-3 columns pull-6'>
      <%= @contract.category.name %>
    </span>
  </div>
  <div class='row'>
    <b class='large-2 columns'><%= t('activerecord.attributes.contract.start_date') %>: </b>
    <span class='large-2 columns'>
    <%= @contract.start_date %>
    </span>
    <b class='large-2 columns'><%= t('activerecord.attributes.contract.first_canon_date')%>: </b>
    <span class='large-2 columns'>
    <%= @contract.first_canon_date %>
    </span>
    <b class='large-2 columns'><%= t 'activerecord.attributes.contract.expiration_date'%>: </b>
    <span class='large-2 columns'>
    <%= @contract.expiration_date %>
    </span>
  </div>
  <div class='row'>
    <b class='large-3 columns'><%= t 'activerecord.attributes.contract.duration'%>: </b>
    <span class="large-3 columns">
    <%= "#{@contract.duration} #{contract_periodicity(@contract.periodicity)}"%>
    </span>
    <b class='large-3 columns'><%= t 'activerecord.attributes.contract.total_value' %>: </b>
    <span class="large-3 columns">
      <b><%= @contract.currency %></b>
      <%= number_to_currency @contract.total_value %>
    </span>
  </div>
  <div class='row'>
    <b class='large-3 columns'><%= t 'activerecord.attributes.contract.asset_count' %>: </b>
    <span class="large-3 columns">
    <%= @contract.assets.count %>
    </span>
    <b class='large-3 columns'><%= t 'activerecord.attributes.contract.location_of_assets'%>: </b>
    <span class="large-3 columns">
    <%= @contract.location_of_assets %>
  </span>
  </div>
  <% if @contract.option_to_buy? %>
    <div class="row">
      <b class='large-3 columns'><%= t 'activerecord.attributes.contract.last_date_to_option'%>: </b>
      <span class='large-3 columns pull-6'>
      <%= @contract.last_date_to_option %>
      </span>
    </div>
  <% end %>
<% end %>
<%= field_set_tag t('.fieldset.lessee') do %>
  <%= render 'entities/entity', entity: @lessee %>
<% end %>
<% unless @cosigners.empty? %>
  <%= field_set_tag t('.fieldset.cosigners') do %>
    <% @cosigners.map(&:entity).each do |cosigner| %>
      <%= render 'entities/entity', entity: cosigner %>
    <% end %>
  <% end %>
<% end %>

<% if @contract.asset_count > 0 %>
  <%= field_set_tag t('.fieldset.assets') do %>
    <%= render 'assets/asset_index', assets: @contract.assets %>
  <% end %>
<% end %>

<%= render 'documents/index', documentable: @contract %>
<%#= render 'documents/form', document: Document.new, documentable: @contract %>
<br/>
<%= render 'comments/index', commentable: @contract %>
<p>
  <%= link_to t('shared.back'), contracts_path, class: 'icon-reply' %>
  <%= link_to t('.edit'), edit_contract_path(@contract), class: 'icon-edit' %>
</p>
