<h1>contract details</h1>

<div>
  <b>Contract number: </b>
  <%= @contract.number %>
  <b>Contract category: </b>
  <%= @contract.category.name %>
</div>
<div>
  <b>Contract start date: </b>
  <%= @contract.start_date %>
</div>
<div>
  <b>Contract first canon payment date: </b>
  <%= @contract.first_canon_date %>
</div>
<div>
  <b>Contract expiration date: </b>
  <%= @contract.expiration_date %>
</div>
<div>
  <% if @contract.option_to_buy %>
  <b>Last date to excercise option to buy assets: </b>
  <%= @contract.last_date_to_option %>
  <% end %>
</div>
<div>
  <b>Contract Duration: </b>
  <!-- FIXME Take logic out of here. Use helper method -->
    <%= pluralize @contract.duration,
    case @contract.periodicity
        when 1
          "month"
        when 3
          "quarter"
        when 6
          "semester"
        when 12
          "years"
      end %>
</div>
<div>
  <b>Total contract value: </b>
  <b><%= @contract.currency %></b>
  <%= number_to_currency @contract.total_value, unit: '' %>
</div>
<div>
  <b>Assets in this contract: </b>
  <%= @contract.assets.count %>
</div>
<div>
 <b>Location of assets: </b>
  <%= @contract.location_of_assets %>
</div>

<% if @contract.asset_count > 0 %>
<br />
<div class="contract-assets table">
  <%= render 'assets/asset_index', assets: @contract.assets %>
</div>
<% end %>

<h2>Comments</h2>
<% @contract.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
<%= render 'comments/form', comment: Comment.new, commentable: @contract %>
