<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('activerecord.models.make') %></th>
      <th><%= t('activerecord.models.model') %></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @models.each do |model| %>
    <tr>
    <td><%= model.make_name %></td>
    <td><%= model.name %></td>
    <td><%= link_to '', edit_model_path(model), class: 'icon-edit' %></td>
    <td><%= link_to '', model, class: 'icon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
<br />
<%= paginate @models %>
<br />
<%= link_to t('.new_btn'), new_model_path, class: 'button success radius' %>
