<div class='entity'>
  <div class='row'>
    <b class='large-1 columns'><%= t('entities.shared.name') %>: </b>
    <span class='large-3 columns'>
      <%= link_to entity.name, entity %>
    </span>
    <b class='large-3 columns push-2'><%= t('entities.shared.identification_number')%>: </b>
    <span class='large-3 columns'>
      <%= entity.identification_type_name %> <%= entity.identification_number %>
    </span>
  </div>
  <div class='row'>
    <b class='large-1 columns'><%= t('entities.shared.address')%>: </b>
    <span  class='large-6 columns pull-5'>
      <%= entity.address %>, <%= entity.city %>, <%= entity.state %>
    </span>
  </div>
</div>
