<div class='entity'>
  <div class='row'>
    <b class='large-2 columns'><%= t('entities.shared.name') %>: </b>
    <span class='large-8 columns'>
      <%= link_to entity.name, entity %>
    </span>
  </div>
  <div class="row">
    <b class='large-2 columns'>Identificación: </b>
    <span class='large-8 columns'>
      <%= entity.identification_type_name %> <%= entity.identification_number %>
    </span>
  </div>
  <div class='row'>
    <b class='large-2 columns'><%= t('entities.shared.address')%>: </b>
    <span  class='large-8 columns'>
      <%= entity.address %>, <%= entity.city %>, <%= entity.state %>
    </span>
  </div>
</div>
