- content_for :title do
  = t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR PERSONA"
- content_for :sidebar do
  - if current_user.can?(:create, :entity)
    = sidebar_button url: new_entity_url, label: "crear nueva persona",
      icon: "user"
  - if current_user.can?(:create, :entity)
    = sidebar_button url: new_contract_url, label: "crear nuevo contrato",
      icon: "file-text"
  = sidebar_button url: contracts_path, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: assets_path, label: "consultar activos",
    icon: "truck"
  = sidebar_button url: inspections_path, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_path,
    label: "seguimiento orden de inspeccion", icon: "eye-open"
  - if current_user.can?(:create, :entity)
    = sidebar_button url: new_inspection_order_path,
      label: "crear orden de inspección", icon: "pencil"
.search-box-container.row
  = form_tag entities_path, method: :get do
    .field.medium-4.columns
      = search_field_tag :query, nil, placeholder: "Busqueda"
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_id do
        %i.icon-barcode.icon-large
        identificación
      = radio_button_tag :options, :by_id
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_name do
        %i.icon-user.icon-large
        nombre
      = radio_button_tag :options, :by_name
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_city do
        %i.icon-compass.icon-large
        ciudad
      = radio_button_tag :options, :by_city
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_state do
        %i.icon-road.icon-large
        departamento
      = radio_button_tag :options, :by_state
.content-container.row
  %span.entry-count
    = page_entries_info @entities
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('entities.shared.name')
        %th= t("entities.shared.identification_number")
        %th= t('entities.shared.address')
        %th= t('entities.shared.city')
    %tbody
      - @entities.each do |entity|
        %tr
          %td.identifier{"data-label" => "#{t('.responsive.name')}"}= link_to entity.name, entity
          %td{"data-label" => "#{t('.responsive.identification_number')}"}
            = entity.identification_type_name
            = entity.identification_number
          %td{"data-label" => "#{t('.responsive.email')}"}= entity.address
          %td{"data-label" => "#{t('.responsive.city')}"}= entity.city
  %section.row
    = render 'shared/pagination', collection: @entities
  %footer.content-footer.row
    = link_to :back do
      %i.icon-reply
      regresar
