- content_for :title do
  = t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR PERSONA"
- content_for :sidebar do
  = sidebar_button url: new_entity_url, label: "crear nueva persona",
    icon: "user"
.search-box-container.row
  = form_tag entities_path, method: :get do
    .field.medium-4.columns
      = search_field_tag :entities_query, nil, placeholder: "Busqueda"
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_id do
        %i.icon-barcode.icon-large
        identificación
      = radio_button_tag :query_options, :by_id
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_city do
        %i.icon-compass.icon-large
        ciudad
      = radio_button_tag :query_options, :by_city
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_state do
        %i.icon-road.icon-large
        departamento
      = radio_button_tag :query_options, :by_state
    .field.small-6.medium-2.columns.center
      = label_tag :query_options_by_name do
        %i.icon-user.icon-large
        nombre
      = radio_button_tag :query_options, :by_name
.content-container.row
  %span.entry-count
    = page_entries_info @entities
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('entities.shared.name')
        %th= t("entities.shared.identification_number")
        %th= t('entities.shared.address')
        %th= t('entities.shared.city')
    %tbody
      - @entities.each do |entity|
        %tr
          %td.identifier{"data-label" => "#{t('.responsive.name')}"}= link_to entity.name, entity
          %td{"data-label" => "#{t('.responsive.identification_number')}"}
            = entity.identification_type_name
            = entity.identification_number
          %td{"data-label" => "#{t('.responsive.email')}"}= entity.address
          %td{"data-label" => "#{t('.responsive.city')}"}= entity.city
  %section.row
    = render 'shared/pagination', collection: @entities
  %footer.content-footer.row
    = link_to :back do
      %i.icon-reply
      regresar
