%h1= t('.title')
%p= link_to t('.new_btn'), new_entity_url, class: "button radius success"
.row
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('entities.shared.name')
        %th= t("entities.shared.identification_number")
        %th= t('entities.shared.email')
        %th= t('entities.shared.city')
        %th= t('entities.shared.lease_contracts')
        %th= t('entities.shared.cosigner_contracts')
        %th
        %th
    %tbody
      - @entities.each do |entity|
        %tr
          %td.identifier{"data-label" => "#{t('.responsive.name')}"}= link_to entity.name, entity
          %td{"data-label" => "#{t('.responsive.identification_number')}"}
            = entity.identification_type_name
            = entity.identification_number
          %td{"data-label" => "#{t('.responsive.email')}"}= entity.email
          %td{"data-label" => "#{t('.responsive.city')}"}= entity.city
          %td{"data-label" => "#{t('.responsive.lease_contracts')}"}= entity.contracts_as_lessee_count
          %td{"data-label" => "#{t('.responsive.cosigner_contracts')}"}= entity.contracts_as_cosigner_count
          %td.actions.edit= link_to '', edit_entity_path(entity), class: 'icon-edit'
          %td.actions.delete= link_to '', entity, class: 'icon-trash', method: :delete, data: { confirm: 'Está seguro que desea borrar esta persona?'}
.row
  = paginate @entities
