- content_for :title do
  = @entity.name
- content_for :sidebar do
  = sidebar_button url: entities_url, label: "consultar personas",
    icon: "group"
  - if current_user.can?(:edit, :entity)
    = sidebar_button url: edit_entity_path(@entity), label: "editar persona",
      icon: "edit"
  - if current_user.can?(:destroy, :entity)
    = sidebar_button url: @entity, label: "eliminar persona", icon: "trash",
      method: :delete
  - if current_user.can?(:create, :entity)
    = sidebar_button url: new_entity_url, label: "crear nueva persona",
      icon: "user"

%header.detail-title.row
  %span#model_number= @entity.name
  %span#model_title= "Locatario"
.content-container.row
  %h4.section-label= "Información Básica"
  .row
    .medium-6.columns
      %h5.field-title= "#{t('entities.shared.identification_number')}"
      = @entity.identification_type_name
      = @entity.identification_number
  %h4.section-label= "#{t('.contact_address')}"
  .row
    .medium-6.columns
      %h5.field-title= "Dirección"
      = "#{@entity.address}"
    .medium-3.columns
      %h5.field-title= "Ciudad"
      = @entity.city
    .medium-3.columns
      %h5.field-title= "Departamento"
      = @entity.state
  %h4.section-label= "#{t('.contact_numbers')}:"
  .row
    .medium-4.columns
      %h5.field-title= "#{t('entities.shared.email')}"
      = @entity.email
    .medium-4.columns
      %h5.field-title= "#{t('entities.shared.phone')}:"
      = @entity.phone
    .medium-4.columns
      %h5.field-title= "#{t('entities.shared.mobile_phone')}:"
      = @entity.mobile_phone
  - unless @entity.leases_on.empty?
    %h4.section-label= t('.contracts_as_lessee')
    %table.responsive-table.layout.display
      %thead
        %tr
          %th= "Contrato"
          %th= "Creación"
          %th= "Inicio"
          %th= "Terminación"
          %th= "Tipo de contrato"
          %th= "Activos"
      %tbody
        = render @entity.leases_on.ordered_by_creation
  - unless @entity.contracts.empty?
    %h4.section-label= t('.contracts_as_cosigner')
    %table.responsive-table.layout.display
      %thead
        %tr
          %th= "Contrato"
          %th= "Creación"
          %th= "Inicio"
          %th= "Terminación"
          %th= "Tipo de contrato"
          %th= "Activos"
      %tbody
        = render @entity.contracts.ordered_by_creation
= render "shared/content_footer", target: entities_path
