%h1= t('.title')

%h2
  = "#{ t('entities.shared.name') }:"
  = @entity.name
.row
  .large-6.columns
    %b= "#{t('entities.shared.identification_number')}:"
    = @entity.identification_type_name
    = @entity.identification_number
  .large-6.columns
    %b= "#{t('entities.shared.email')}:"
    = @entity.email
%h4= "#{t('.contact_numbers')}:"
.row
  .large-6.columns
    %b= "#{t('entities.shared.mobile_phone')}:"
    = @entity.mobile_phone
  .large-6.columns
    %b= "#{t('entities.shared.phone')}:"
    = @entity.phone
%h4= "#{t('.contact_address')}:"
.row
  .large-12.columns
    = "#{@entity.address}, #{@entity.city}, #{@entity.state}"
- if @entity.contracts_as_lessee
  %h5= t('.contracts_as_lessee')
  .row
    - @entity.contracts_as_lessee.each do |contract|
      .row
        .large-6.columns.center
          = link_to contract.number, contract
        .large-6.columns.center
          - contract.assets.each do |asset|
            .row
              = link_to asset.inventory_number, asset
- if @entity.contracts_as_cosigner
  %h5= t('.contracts_as_cosigner')
  .row
    - @entity.contracts_as_cosigner.each do |contract|
      .row
        .large-6.columns.center
          = link_to contract.number, contract
        .large-6.columns.center
          - contract.assets.each do |asset|
            .row
              = link_to asset.inventory_number, asset
