<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%=t('shared.name')%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @bodies.each do |body| %>
    <tr>
    <td><%= body.name %></td>
    <td><%= link_to '', edit_body_path(body), class: 'icon-edit' %></td>
    <td><%= link_to '', body, class: 'icon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>

<br />
<%= paginate @bodies %>
<br />
<%= link_to t('.new_btn'), new_body_path, class: 'button success radius' %>
