%li
  .document{id: "document-#{document.id}"}
    .panel.radius{ "data-equalizer-watch" => "" }
      = link_to image_tag(document_thumbnail(document), class: 'th thmbnail', |
        alt: "#{document.try(:category)}: #{document.try(:slug)}"),           |
        document.content_url.to_s, target: '_blank'                           |
      %p
        %small
          %b= document.category
          %br
          = document.slug
    - if current_user.can?(:edit, :document)
      .actions
        = link_to '', edit_document_path(document), class: 'icon-edit', remote: true
        = link_to '', document, class: 'icon-remove-circle', method: :delete, remote: true
