= form_for document, html: { multipart: true } do |f|
  = render 'shared/error_messages', target: document
  - unless document.documentable.present?
    = f.hidden_field :documentable_id, value: documentable.id
    = f.hidden_field :documentable_type, value: documentable.class.to_s
  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :category
    = f.select :category, %W(Photo Document Contract Invoice Imprint Other)
  .field
    = f.label :content
    = f.file_field :content
  .action
    = f.submit
