%h4.section-label Adjuntar documentos
= form_for document, html: { multipart: true } do |f|
  = render 'shared/error_messages', target: document
  - unless document.documentable.present?
    = f.hidden_field :documentable_id, value: documentable.id
    = f.hidden_field :documentable_type, value: documentable.class.to_s
  .row
    .field.large-7.columns
      = f.text_field :slug, placeholder: "Descripción"
    .field.large-3.columns.pull-2
      = f.file_field :content
  .row
    .field.large-3.columns
      = f.select :category, %W(Foto Documento Contrato Factura Impronta Otro), { prompt: "Categoría" }, class: "radius"
    .action.large-3.columns.pull-6
      = f.submit
