<h1><%= t('.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('shared.name')%></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% @colors.each do |color| %>
    <tr>
    <td><%= color.name %></td>
    <td><%= link_to '', edit_color_path(color), class: 'icon-edit' %></td>
    <td><%= link_to '', color, class: 'icon-trash', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
  </tbody>
</table>
<br />
<%= paginate @colors %>
<br />
<%= link_to t('.new_btn'), new_color_path, class: 'button success radius' %>
