%table.responsive-table.layout.display
  %thead
    %tr
      %th= t('activerecord.models.asset')
      %th= t('activerecord.attributes.asset.license_plate')
      %th= t('activerecord.attributes.asset.make_id')
      %th= t('activerecord.attributes.asset.model_id')
      %th= t('activerecord.attributes.asset.year')
      %th= t('activerecord.attributes.asset.service_type')
      %th
      %th
  %tbody
    - assets.each do |asset|
      %tr
        %td.identifier.center{"data-label" => "#{t('activerecord.models.asset')}" }= link_to asset.inventory_number, asset
        %td{"data-label" => "#{t('activerecord.attributes.asset.license_plate')}" }= asset.license_plate
        %td{"data-label" => "#{t('activerecord.attributes.asset.make_id')}" }= asset.make_name
        %td{"data-label" => "#{t('activerecord.attributes.asset.model_id')}" }= asset.model_name
        %td{"data-label" => "#{t('activerecord.attributes.asset.year')}" }= asset.year
        %td{"data-label" => "#{t('activerecord.attributes.asset.service_type')}" }= asset.service_type
        %td.actions.edit.center= link_to '', edit_asset_path(asset), class: 'icon-edit'
        %td.actions.delete.center= link_to '', asset, class: 'icon-trash',method: :delete, data: { confirm: 'Are you sure?' }
