%table
  %thead
    %tr
      %th= t(:contract_id, scope: [:activerecord,:attributes,:asset])
      %th= t('activerecord.models.asset')
      %th= t('activerecord.attributes.asset.license_plate')
      %th= t('activerecord.attributes.asset.make_id')
      %th= t('activerecord.attributes.asset.model_id')
      %th= t('activerecord.attributes.asset.year')
      %th= t('activerecord.attributes.asset.service_type')
      %th= t('activerecord.attributes.asset.book_value')
      %th= t('assets.index.inspections')
      %th
      %th
  %tbody
    - assets.each do |asset|
      %tr
        %td= link_to asset.contract.number, asset.contract
        %td.center= link_to asset.inventory_number, asset
        %td= asset.license_plate
        %td= asset.make.name
        %td= asset.model.name
        %td= asset.year
        %td= asset.service_type
        %td= number_to_currency asset.book_value, unit: ''
        %td.center= asset.inspection_count
        %td.center= link_to '', edit_asset_path(asset), class: 'icon-edit'
        %td.center= link_to '', asset, class: 'icon-trash',method: :delete, data: { confirm: 'Are you sure?' }
