%tr
  %td= link_to asset.contract.number, asset.contract
  %td.center= link_to asset.inventory_number, asset
  %td= asset.license_plate
  %td= asset.make.name
  %td= asset.model.name
  %td= asset.year
  %td= asset.service_type
  %td= number_to_currency asset.book_value, unit: ''
  %td.center= asset.inspection_count
  %td.center= link_to '', edit_asset_path(asset), class: 'icon-edit'
  %td.center= link_to '', asset, class: 'icon-trash',method: :delete, data: { confirm: 'Are you sure?' }
