<h1>Editing Asset #<%= @asset.id %></h1>


<%= form_for @asset do |asset_form| %>
  <div>
    <%= asset_form.label :contract_id %>
    <%= asset_form.collection_select :contract_id, Contract.all, :id, :number, prompt: 'Select contract number' %>
  </div>
  <%= field_set_tag 'Basic Information' do %>
  <div>
    <%= asset_form.label :inventory_number %>
    <%= asset_form.text_field :inventory_number %>
    <%= asset_form.label :licence_plate %>
    <%= asset_form.text_field :licence_plate %>
  </div>
  <div>
    <%= asset_form.label :chassis_number %>
    <%= asset_form.text_field :chassis_number %>
    <%= asset_form.label :motor_number %>
    <%= asset_form.text_field :motor_number %>
  </div>
  <div>
    <%= asset_form.label :cylinder_cap, 'Cylinder Capacity' %>
    <%= asset_form.text_field :cylinder_cap %>
    <%= asset_form.label :capacity %>
    <%= asset_form.text_field :capacity %>
    <%= asset_form.select :capacity_unit, %w(Passengers Tons), {:index => nil} %>
  </div>
  <div>
    <%= asset_form.label :make %>
    <%= asset_form.text_field :make %>
    <%= asset_form.label :model %>
    <%= asset_form.text_field :model %>

    <%= asset_form.label :year %>
    <%= asset_form.select :year, (2000..Date.current.year).to_a, {:index => nil} %>
    <%= asset_form.label :color %>
    <%= asset_form.select :color, %w[White Blue Red Green Black], {:index => nil, :selected => false} %>
    <%= asset_form.label :build %>
    <%= asset_form.text_field :build %>
  </div>
  <div>
    <%= asset_form.label :service_type %>
    <%= asset_form.select :service_type, %w(Private Public Diplomatic Official Special Other), {:index => nil} %>
    <%= asset_form.label :service_mode %>
    <%= asset_form.select :service_mode, %w[Passengers Cargo Mixed], {:index => nil} %>
    <%= asset_form.label :fuel_type %>
    <%= asset_form.select :fuel_type, %w[Gasoline GNV GNV-Gasoline Electric Hidrogen Ethanol Biodiesel], {:index => nil} %>
  </div>
  <div>
    <%= asset_form.label :book_value %>
    <%= asset_form.text_field :book_value %>
  </div>
  <% end %>

  <%= asset_form.submit "Edit Asset" %>
<% end %>
