<h1><%= t('.title')%></h1>

<%= render 'form' %>

<%= link_to t('.show'), @asset, class: 'icon-mail-reply'%> |
<%= link_to t('.index'), assets_path, class: 'icon-list-alt'%> |
<%= link_to t('shared.back'), :back, class: 'icon-mail-reply' %>
