- content_for :title do
  =t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR ACTIVO"
- content_for :sidebar do
  - if current_user.can?(:create, :asset)
    = sidebar_button url: new_asset_url, label: "crear nuevo activo",
      icon: "truck"
  - if current_user.can?(:create, :contract)
    = sidebar_button url: new_contract_url, label: "crear nuevo contrato",
      icon: "file-text"
  = sidebar_button url: contracts_path, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: inspections_path, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_path,
    label: "seguimiento orden de inspeccion", icon: "eye-open"
  - if current_user.can?(:create, :inspection_order)
    = sidebar_button url: new_inspection_order_path, class: "call-to-action",
      label: "crear orden de inspección", icon: "pencil"
.search-box-container.row
  = form_tag assets_path, method: :get do
    .field.medium-4.columns
      = search_field_tag :query, nil, placeholder: "Busqueda de activos"
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_licence_plate do
        %i.icon-ticket.icon-large
        placa
      = radio_button_tag :options, :by_license_plate
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_make do
        %i.icon-truck.icon-large
        marca
      = radio_button_tag :options, :by_make
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_model do
        %i.icon-th.icon-large
        línea
      = radio_button_tag :options, :by_model
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_year do
        %i.icon-calendar.icon-large
        modelo
      = radio_button_tag :options, :by_year
.content-container.row
  = render 'asset_index', assets: @assets
  %section.row
    = render 'shared/pagination', collection: @assets
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
    regresar
