- content_for :title do
  =t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR ACTIVO"
- content_for :sidebar do
  = sidebar_button url: new_asset_url, label: "crear nuevo activo",
    icon: "truck"
  = sidebar_button url: new_contract_url, label: "crear nuevo contrato",
    icon: "file-text"
  = sidebar_button url: contracts_path, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: inspections_path, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_path,
    label: "seguimiento orden de inspeccion", icon: "eye-open"
  = sidebar_button url: new_inspection_order_path,
    label: "crear orden de inspección", icon: "pencil"
.search-box-container.row
  = form_tag do
    .field.large-4.columns
      = search_field_tag :asset_query, nil, placeholder: "Busqueda de activos"
    .field.large-2.columns.center
      = label_tag :query_options_by_licence_plate do
        %i.icon-ticket.icon-large
        placa
      = radio_button_tag :query_options, :by_license_plate, true
    .field.large-2.columns.center
      = label_tag :query_options_by_make do
        %i.icon-truck.icon-large
        marca
      = radio_button_tag :query_options, :by_make
    .field.large-2.columns.center
      = label_tag :query_options_by_model do
        %i.icon-th.icon-large
        línea
      = radio_button_tag :query_options, :by_model
    .field.large-2.columns.center
      = label_tag :query_options_by_year do
        %i.icon-calendar.icon-large
        modelo
      = radio_button_tag :query_options, :by_year
.content-container.row
  = render 'asset_index', assets: @assets
  = paginate @assets
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
    regresar
