- content_for :title do
  =t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR ACTIVO"
- content_for :sidebar do
  %li.btn-tny.inactive
    = link_to new_asset_url do
      crear nuevo activo
      %i.icon-truck.task-icon.icon-large
  %li.btn-tny.inactive
    = link_to new_contract_url do
      crear nuevo contrato
      %i.icon-file-text.task-icon.icon-large
.search-box-container.row
  = form_tag do
    .field.large-4.columns
      = search_field_tag :asset_query, nil, placeholder: "Busqueda de activos"
    .field.large-2.columns.center
      = label_tag :query_options_by_licence_plate do
        %i.icon-ticket.icon-large
        placa
      = radio_button_tag :query_options, :by_license_plate, true
    .field.large-2.columns.center
      = label_tag :query_options_by_make do
        %i.icon-truck.icon-large
        marca
      = radio_button_tag :query_options, :by_make
    .field.large-2.columns.center
      = label_tag :query_options_by_model do
        %i.icon-th.icon-large
        línea
      = radio_button_tag :query_options, :by_model
    .field.large-2.columns.center
      = label_tag :query_options_by_year do
        %i.icon-calendar.icon-large
        modelo
      = radio_button_tag :query_options, :by_year
.content-container.row
  = render 'asset_index', assets: @assets
  = paginate @assets
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
    regresar
