<h1><%= t('.title') %></h1>
<p>
  <%= link_to t('.new_btn'), new_asset_path, class: 'icon-file button success radius' %>
</p>
<div class="row">
<%= render 'asset_index', assets: @assets %>
</div>
<div class="row">
  <%= paginate @assets %>
</div>
<p>
  <%= link_to t('.new_btn'), new_asset_path, class: 'icon-file button success radius' %>
</p>
