- content_for :title do
  AH - crear activo
- content_for :content_header do
  = render 'shared/header_title', title: "CREAR ACTIVO"
- content_for :sidebar do
  = sidebar_button url: new_contract_url, label: "crear contrato",
    icon: "file-text"
  = sidebar_button url: contracts_url, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: assets_url, label: "consultar activos",
    icon: "truck"

.content-container.row
  = render 'form'

= render 'shared/content_footer', target: assets_path
