- content_for :title do
  = "activo: #{@asset.license_plate}"
- content_for :sidebar do
  %li.btn-tny.inactive
    = link_to edit_asset_url(@asset) do
      editar activo
      %i.icon-edit.task-icon.icon-large
  %li.btn-tny.inactive
    = link_to new_inspection_url(asset: @asset.inventory_number) do
      agregar inspección
      %i.icon-paste.task-icon.icon-large
  %li.btn-tny.inactive
    = link_to new_asset_url do
      agregar activo
      %i.icon-truck.task-icon.icon-large
.detail-title
  %span#model_number= @asset.inventory_number
  %span#model_title= "#{@asset.kind_name} #{@asset.make_name} #{@asset.model_name} #{@asset.year}"
.content-container.row
  .row
    .medium-6.columns
      = @asset.document_slider
    .medium-6.columns
      = render 'contracts/contract_info', contract: @asset.contract

  %h4.section-label= t('inspections.form.fieldset.information')
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.license_plate')}:"
    %span.large-2.columns.pull-8
      = @asset.license_plate
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.make_id')}:"
    %span.large-2.columns
      = @asset.make_name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.model_id')}:"
    %span.large-2.columns
      = @asset.model_name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.year')}:"
    %span.large-2.columns
      = @asset.year
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.cylinder_cap')}:"
    %span.large-2.columns
      = @asset.cylinder_cap
    %b.large-2.columns= "#{t('activerecord.attributes.asset.color_id')}:"
    %span.large-2.columns
      = @asset.color_name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.service_type')}:"
    %span.large-2.columns
      = @asset.service_type
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.kind_id')}:"
    %span.large-2.columns
      = @asset.kind_name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.body_id')}:"
    %span.large-2.columns
      = @asset.body_name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.fuel_type')}:"
    %span.large-2.columns
      = @asset.fuel_type
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.capacity')}:"
    %span.large-2.columns
      = @asset.capacity
    %b.large-2.columns= "#{t('activerecord.attributes.asset.motor_number')}:"
    %span.large-2.columns
      %small= @asset.motor_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_motor')}:"
    %span.large-2.columns
      = @asset.rerecorded_motor
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.vin')}:"
    %span.large-2.columns
      %small= @asset.vin
    %b.large-2.columns= "#{t('activerecord.attributes.asset.serial_number')}:"
    %span.large-2.columns
      %small= @asset.serial_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_serial')}:"
    %span.large-2.columns
      = @asset.rerecorded_serial
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.chassis_number')}:"
    %span.large-2.columns
      %small= @asset.chassis_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_chassis')}:"
    %span.large-2.columns.pull-4
      = @asset.rerecorded_chassis
  %h4.section-label= t('assets.form.fieldset.additional_info')
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.mobility_restriction')}:"
    %span.large-2.columns
      = @asset.mobility_restriction
    %b.large-2.columns= "#{t('activerecord.attributes.asset.shield_level')}:"
    %span.large-2.columns
      = @asset.shield_level
    %b.large-2.columns= "#{t('activerecord.attributes.asset.horse_power')}:"
    %span.large-2.columns
      = @asset.horse_power
  .row
    = @asset.imported?
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.number_of_doors')}:"
    %span.large-2.columns
      = @asset.number_of_doors
    %b.large-2.columns= "#{t('activerecord.attributes.asset.property_limitation')}:"
    %span.large-2.columns
      = @asset.property_limitation
    %b.large-2.columns= "#{t('activerecord.attributes.asset.transit_authority')}:"
    %span.large-2.columns
      = @asset.transit_authority
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.registration_date')}:"
    %span.large-2.columns
      = @asset.registration_date
    %b.large-2.columns= "#{t('activerecord.attributes.asset.tp_issue_date')}:"
    %span.large-2.columns
      = @asset.tp_issue_date
    %b.large-2.columns= "#{t('activerecord.attributes.asset.tp_expiration_date')}:"
    %span.large-2.columns
      = @asset.tp_expiration_date
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.book_value')}:"
    %span.large-2.columns.pull-8
      = number_to_currency @asset.book_value

  - unless @asset.inspections.empty?
    %h4.section-label= t('.fieldset.inspections')
    = render 'inspections/index_table', inspections: @asset.inspections
  %section#documents.row
    = render 'documents/index', documentable: @asset
  %section#comments.row
    = render 'comments/index', commentable: @asset
  %section#document-upload.row
    %h4.section-label Adjuntar documentos
    = render 'documents/form', document: Document.new, documentable: @asset
= render "shared/content_footer", target: assets_path
