<h1>Asset #<%= @asset.id %></h1>

<p>
  <b>Inventory number:</b>
  <%= @asset.inventory_number %>
</p>

<p>
  <b>Invoice number:</b>
  <%= @asset.invoice_number %>
</p>

<p>
  <b>Value:</b>
  <%= @asset.value %>
</p>

<p>
  <b>Invoice date:</b>
  <%= @asset.invoice_date %>
</p>

<p>
  <b>Description:</b>
  <%= @asset.description %>
</p>

<p>
  <b>Scanned invoice:</b>
  <%= @asset.scanned_invoice %>
</p>

<p>
  <b>Contract:</b>
  <%= @asset.contract_id %>
</p>


