%h1
  = t('.title')
  = @asset.inventory_number
= field_set_tag t('contracts.form.fieldset.information') do
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.contract.number')}:"
    %span.large-2.columns
      = link_to @asset.contract.number, @asset.contract
    %b.large-2.columns= "#{t('activerecord.attributes.contract.category_id')}:"
    %span.large-2.columns.pull-4
      = @asset.contract.category.name
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.contract.start_date')}:"
    %span.large-2.columns
      = @asset.contract.start_date
    %b.large-2.columns= "#{t('activerecord.attributes.contract.first_canon_date')}:"
    %span.large-2.columns
      = @asset.contract.first_canon_date
    %b.large-2.columns= "#{t('activerecord.attributes.contract.expiration_date')}:"
    %span.large-2.columns
      = @asset.contract.first_canon_date
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.contract.lessee')}:"
    %span.large-2.columns
      = link_to @asset.contract.lessee.name, @asset.contract.lessee
    %b.large-2.columns= "#{t('.lessee_id')}:"
    %span.large-2.columns.pull-4
      = @asset.contract.lessee.identification_type.name
      = @asset.contract.lessee.identification_number

= field_set_tag t('inspections.form.fieldset.information') do
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.license_plate')}:"
    %span.large-2.columns.pull-8
      = @asset.license_plate
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.make_id')}:"
    %span.large-2.columns
      = @asset.make.name.upcase
    %b.large-2.columns= "#{t('activerecord.attributes.asset.model_id')}:"
    %span.large-2.columns
      = @asset.model.name.upcase
    %b.large-2.columns= "#{t('activerecord.attributes.asset.year')}:"
    %span.large-2.columns
      = @asset.year
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.cylinder_cap')}:"
    %span.large-2.columns
      = @asset.cylinder_cap
    %b.large-2.columns= "#{t('activerecord.attributes.asset.color_id')}:"
    %span.large-2.columns
      = @asset.color.name.upcase
    %b.large-2.columns= "#{t('activerecord.attributes.asset.service_type')}:"
    %span.large-2.columns
      = @asset.service_type
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.kind_id')}:"
    %span.large-2.columns
      = @asset.kind.name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.body_id')}:"
    %span.large-2.columns
      = @asset.body.name
    %b.large-2.columns= "#{t('activerecord.attributes.asset.fuel_type')}:"
    %span.large-2.columns
      = @asset.fuel_type
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.capacity')}:"
    %span.large-2.columns
      = @asset.capacity
    %b.large-2.columns= "#{t('activerecord.attributes.asset.motor_number')}:"
    %span.large-2.columns
      = @asset.motor_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_motor')}:"
    %span.large-2.columns
      = @asset.rerecorded_motor? ? t("shared.yes") : t("shared.no")
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.vin')}:"
    %span.large-2.columns
      = @asset.vin
    %b.large-2.columns= "#{t('activerecord.attributes.asset.serial_number')}:"
    %span.large-2.columns
      = @asset.serial_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_serial')}:"
    %span.large-2.columns
      = @asset.rerecorded_serial? ? t('shared.yes') : t('shared.no')
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.chassis_number')}:"
    %span.large-2.columns
      = @asset.chassis_number
    %b.large-2.columns= "#{t('activerecord.attributes.asset.rerecorded_chassis')}:"
    %span.large-2.columns.pull-4
      = @asset.rerecorded_chassis? ? t('shared.yes') : t('shared.no')
= field_set_tag t('assets.form.fieldset.additional_info') do
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.mobility_restriction')}:"
    %span.large-2.columns
      = @asset.mobility_restriction
    %b.large-2.columns= "#{t('activerecord.attributes.asset.shield_level')}:"
    %span.large-2.columns
      = @asset.shield_level
    %b.large-2.columns= "#{t('activerecord.attributes.asset.horse_power')}:"
    %span.large-2.columns
      = @asset.horse_power
  .row
    - if @asset.importd_assembld?
      %b.large-4.columns= t('.imported')
      %b.large-2.columns= "#{t('activerecord.attributes.asset.import_statement')}:"
      %span.large-2.columns
        = @asset.import_statement
      %b.large-2.columns= "#{t('activerecord.attributes.asset.import_date')}:"
      %span.large-2.columns
        = @asset.import_date
    - else
      %b.columns= t('.assembled')
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.number_of_doors')}:"
    %span.large-2.columns
      = @asset.number_of_doors
    %b.large-2.columns= "#{t('activerecord.attributes.asset.property_limitation')}:"
    %span.large-2.columns
      = @asset.property_limitation
    %b.large-2.columns= "#{t('activerecord.attributes.asset.transit_authority')}:"
    %span.large-2.columns
      = @asset.transit_authority
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.registration_date')}:"
    %span.large-2.columns
      = @asset.registration_date
    %b.large-2.columns= "#{t('activerecord.attributes.asset.tp_issue_date')}:"
    %span.large-2.columns
      = @asset.tp_issue_date
    %b.large-2.columns= "#{t('activerecord.attributes.asset.tp_expiration_date')}:"
    %span.large-2.columns
      = @asset.tp_expiration_date
  .row
    %b.large-2.columns= "#{t('activerecord.attributes.asset.book_value')}:"
    %span.large-2.columns.pull-8
      = number_to_currency @asset.book_value

- unless @asset.inspections.empty?
  = field_set_tag t('.fieldset.inspections') do
    = render 'inspections/index_table', inspections: @asset.inspections.order('date DESC')
.row
  = render 'documents/index', documentable: @asset
= render 'documents/form', document: Document.new, documentable: @asset
.row
  = render 'comments/index', commentable: @asset
.row
  = link_to ' Back', assets_path, class: 'icon-reply'
  \|
  = link_to ' Edit', edit_asset_path(@asset), class: 'icon-edit'
