- content_for :title do
  = "activo: #{@asset.license_plate}"
- content_for :sidebar do
  = sidebar_button url: assets_url, label: "consultar activos", icon: "th-list"
  = sidebar_button url: edit_asset_path(@asset), label: "editar activo",
    icon: "edit"
  = sidebar_button url: new_inspection_url(asset: @asset.license_plate),
    label: "agregar inspección", icon: "paste"
  = sidebar_button url: new_asset_url, label: "agregar activo", icon: "truck"
  = sidebar_button url: @asset, label: "eliminar activo", icon: "trash",
    method: :delete
  = sidebar_button url: new_inspection_order_url(number: @asset.license_plate, |
    asset: "1"), label: "generar orden de inspección", icon: "pencil"          |
.detail-title
  %span#model_number= @asset.inventory_number
  %span#model_title= "#{@asset.kind_name} #{@asset.make_name} #{@asset.model_name} #{@asset.year}"
.content-container.row
  .row
    .medium-6.columns
      = @asset.document_slider
    .medium-6.columns
      = render 'contracts/contract_info', contract: @asset.contract

  %h4.section-label= t('inspections.form.fieldset.information')
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.license_plate')}"
      = @asset.license_plate
    .medium-4.columns.pull-4
      %h5.field-title= "#{t('activerecord.attributes.asset.transit_permit')}"
      = @asset.transit_permit
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.make_id')}"
      = @asset.make_name
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.model_id')}"
      = @asset.model_name
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.year')}"
      = @asset.year
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.cylinder_cap')}"
      = @asset.cylinder_cap
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.color_id')}"
      = @asset.color_name
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.service_type')}"
      = @asset.service_type
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.kind_id')}"
      = @asset.kind_name
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.body_id')}"
      = @asset.body_name
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.fuel_type')}"
      = @asset.fuel_type
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.capacity')}"
      = @asset.capacity
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.motor_number')}"
      = @asset.motor_number
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.rerecorded_motor')}"
      = @asset.rerecorded_motor
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.vin')}"
      = @asset.vin
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.serial_number')}"
      = @asset.serial_number
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.rerecorded_serial')}"
      = @asset.rerecorded_serial
  .row
    .medium-4.columns.push-4
      %h5.field-title= "#{t('activerecord.attributes.asset.chassis_number')}"
      = @asset.chassis_number
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.rerecorded_chassis')}"
      = @asset.rerecorded_chassis
  %h4.section-label= t('assets.form.fieldset.additional_info')
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.mobility_restriction')}"
      = @asset.mobility_restriction
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.shield_level')}"
      = @asset.shield_level
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.horse_power')}"
      = @asset.horse_power
  .row
    = @asset.imported?
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.import_statement')}"
      = @asset.import_statement
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.import_date')}"
      = @asset.import_date
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.number_of_doors')}"
      = @asset.number_of_doors
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.property_limitation')}"
      = @asset.property_limitation
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.transit_authority')}"
      = @asset.transit_authority
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.registration_date')}"
      = @asset.registration_date
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.tp_issue_date')}"
      = @asset.tp_issue_date
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.tp_expiration_date')}"
      = @asset.tp_expiration_date
  .row
    .medium-4.columns
      %h5.field-title= "#{t('activerecord.attributes.asset.book_value')}"
      = number_to_currency @asset.book_value

  - unless @asset.inspections.empty?
    %h4.section-label= t('.fieldset.inspections')
    = render 'inspections/index_table', inspections: @asset.inspections
  %section#documents.row
    = render 'documents/index', documentable: @asset
  %section#comments.row
    = render 'comments/index', commentable: @asset.model
  %section#document-upload.row
    = render 'documents/form', document: Document.new, documentable: @asset.model
= render "shared/content_footer", target: assets_path
