<p id="notice"><%= notice %></p>

<%= @asset.inventory_number %>
<%= @asset.book_value %>
<%= @asset.inspection_count %>

<%= link_to 'Edit', edit_asset_path(@asset) %> |
<%= link_to 'Back', assets_path %>
