<p><%= "#{t('.greeting')} #{@resource.first_name} #{@resource.last_name}" %>!</p>

<p><%= t(".request_message") %></p>

<p><%= link_to t('.change_link'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('.warning_message') %></p>
<p><%= t('.end_message') %></p>
