= form_for @inspection do |f|
  = render 'shared/error_messages', target: @inspection
  = field_set_tag t('.fieldset.record'), class: 'round' do
    .row
      .field.large-6.columns
        = f.label :inspection_number
        = f.text_field :inspection_number, placeholder: 'Assigned inspection number'
      .field.large-6.columns
        = f.label :asset_id
        = f.text_field :asset_id, placeholder: 'License Plate Number'
    .row
      .field.large-4.columns
        = f.label :address
        = f.text_field :address
      .field.large-4.columns
        = f.label :city
        = f.text_field :city
      .field.large-4.columns
        = f.label :state
        = f.text_field :state
    .row
      .field.large-4.columns
        = f.label :date
        %a{name: 'vehicle-information', data: {magellan_destination: 'vehicle-information'} }
        = f.text_field :date, class: 'date-field', placeholder: 'yyyy-mm-dd'
  = field_set_tag t('.fieldset.information') do
    .row
      .field.large-4.columns
        = label_tag :odometer
        = number_field_tag :odometer
      .field.large-4.columns
        = f.label :current_value
        = f.number_field :current_value
      .field.large-4.columns
        = f.label :appraiser_value
        = f.number_field :appraiser_value
  %a{name: 'documents', data: {magellan_destination: 'documents'} }
  = field_set_tag t('.fieldset.documents') do
    .row
      .field.large-4.columns
        = f.label :soat_number
        = f.text_field :soat_number
      .field.large-4.columns
        = f.label :soat_begin_date
        = f.text_field :soat_begin_date, class: 'date-field', placeholder: 'yyyy-mm-dd'
      .field.large-4.columns
        = f.label :soat_finish_date
        = f.text_field :soat_finish_date, class: 'date-field', placeholder: 'yyyy-mm-dd'
    .row
      .field.large-4.columns
        = f.label :emissions_certificate
        = f.text_field :emissions_certificate
      .field.large-4.columns
        = f.label :emissions_begin_date
        = f.text_field :emissions_begin_date, class: 'date-field', placeholder: 'yyyy-mm-dd'
      .field.large-4.columns
        = f.label :emissions_finish_date
        = f.text_field :emissions_finish_date, class: 'date-field', placeholder: 'yyyy-mm-dd'
  %a{name: 'general', data: {magellan_destination: 'general'} }
  = field_set_tag t('.fieldset.condition') do
    .row
      .field.small-6.large-2.columns
        = f.label :maintenance
        = f.check_box :maintenance
      .field.small-6.large-2.columns
        = f.label :repairs
        = f.check_box :repairs
      .field.large-4.columns
        = f.label :exterior
        .row
          .radio.small-4.large-4.columns
            = f.label :exterior_good
            = f.radio_button :exterior, 'Good', checked: true
          .radio.small-4.large-4.columns
            = f.label :exterior_regular
            = f.radio_button :exterior, 'Regular'
          .radio.small-4.large-4.columns
            = f.label :exterior_bad
            = f.radio_button :exterior, 'Bad'
        .row
          .field
            = f.label :exterior_notes
            = f.text_area :exterior_notes
      .field.large-4.columns
        = f.label :engine
        .row
          .radio.small-4.large-4.columns
            = f.label :engine_good
            = f.radio_button :engine, 'Good', checked: true
          .radio.small-4.large-4.columns
            = f.label :engine_regular
            = f.radio_button :engine, 'Regular'
          .radio.small-4.large-4.columns
            = f.label :engine_bad
            = f.radio_button :engine, 'Bad'
        .row
          .field
            = f.label :engine_notes
            = f.text_area :engine_notes
    .row
      .field.small-6.large-2.columns
        = f.label :security
        = f.check_box :security
      .field.small-6.large-2.columns
        = label_tag :modifications
        = check_box_tag :modifications
      .field.large-4.columns
        = f.label :interior
        .row
          .radio.small-4.large-4.columns
            = f.label :interior_good
            = f.radio_button :interior, 'Good', checked: true
          .radio.small-4.large-4.columns
            = f.label :interior_regular
            = f.radio_button :interior, 'Regular'
          .radio.small-4.large-4.columns
            = f.label :interior_bad
            = f.radio_button :interior, 'Bad'
        .row
          .field
            = f.label :interior_notes
            = f.text_area :interior_notes
      .field.large-4.columns
        .row
          = f.label :accesories
          = f.text_area :accesories
  %a{name: 'insurance', data: {magellan_destination: 'insurance'} }
  = field_set_tag t('.fieldset.insurance') do
    .row
      .field.large-4.columns
        = f.label :insurance_number
        = f.text_field :insurance_number
      .field.large-4.columns
        = f.label :insurance_company_id
        = f.collection_select :insurance_company_id, InsuranceCompany.all, :id, :name
      .field.large-4.columns
        = f.label :currency
        = f.text_field :currency
    .row
      .field.large-4.columns
        = f.label :insured_value
        = f.text_field :insured_value
      .field.small-6.large-4.columns
        = f.label :insurance_start
        = f.text_field :insurance_start, class: 'date-field', placeholder: 'yyyy-mm-dd'
      .field.small-6.large-4.columns
        = f.label :insurance_finish
        = f.text_field :insurance_finish, class: 'date-field', placeholder: 'yyyy-mm-dd'
  .row
    .field.columns
      = label_tag :observations
      = text_area_tag :observations, nil, placeholder: 'Enter your general impressions on this asset'
  %a{ name: 'signature', data: {magellan_destination: 'signature'} }
  = field_set_tag t('.fieldset.signature') do
    .row
      .field.large-4.columns
        = f.label :person_in_charge
        = f.text_field :person_in_charge
      .field.large-4.columns
        = f.label :pic_id
        = f.text_field :pic_id
      .field.large-4.columns
        = f.label :pic_job
        = f.text_field :pic_job
  .actions
    = f.submit
