%table
  %thead
    %tr
      %th= t('.number')
      %th= t('.date')
      %th= t('.city')
      %th= t('.state')
      %th= t('.initial_value')
      %th= t('.current_value')
  %tbody
    - inspections.each do |inspection|
      %tr
        %td.center= link_to inspection.inspection_number, inspection
        %td= inspection.date.strftime('%d-%m-%y %r %Z')
        %td= inspection.city
        %td= inspection.state
        %td= number_to_currency inspection.asset.book_value
        %td= number_to_currency inspection.current_value
