%table.responsive-table.layout.display
  %thead
    %tr
      %th= t('.number')
      %th= t('.inspection_date')
      %th= t('.city')
      %th= t('.state')
      %th= t('.initial_value')
      %th= t('.current_value')
  %tbody
    - inspections.each do |inspection|
      %tr
        %td.identifier.center{ "data-label" => "#{t('.number')}" }= link_to inspection.inspection_number, inspection
        %td{ "data-label" => "#{t('.inspection_date')}" }= inspection.inspection_date.strftime('%d-%m-%y %r %Z')
        %td{ "data-label" => "#{t('.city')}" }= inspection.city
        %td{ "data-label" => "#{t('.state')}" }= inspection.state
        %td{ "data-label" => "#{t('.initial_value')}" }= number_to_currency inspection.asset.book_value
        %td{ "data-label" => "#{t('.current_value')}" }= number_to_currency inspection.current_value
