%table
  %tr
    %th Inspection Number
    %th Inspection Date
    %th city
    %th state
    %th Initial Asset Value
    %th Current Asset Value

  - inspections.each do |inspection|
    %tr
      %td= link_to inspection.inspection_number, inspection
      %td= inspection.date.strftime('%d-%m-%y %r %Z')
      %td= inspection.city
      %td= inspection.state
      %td= number_to_currency inspection.asset.book_value
      %td= number_to_currency inspection.current_value
