= render 'sub_nav'
%h1= t('.title')
= render 'form'

= link_to t('.show'), @inspection, class: 'icon-mail-reply'
\|
= link_to t('.index'), inspections_path, class: 'icon-list-alt'
\|
= link_to t('.back'), :back, class: 'icon-mail-reply'
