- content_for :title do
  = t('.title')
- content_for :content_header do
  = render 'shared/header_title', title: "CONSULTAR INSPECCION"
- content_for :sidebar do
  - if current_user.can?(:create, :inspection)
    = sidebar_button url: new_inspection_url, label: "crear nueva inspeccion",
      icon: "paste"
  - if current_user.can?(:create, :asset)
    = sidebar_button url: new_asset_url, label: "crear nuevo activo",
      icon: "truck"
  - if current_user.can?(:create, :contract)
    = sidebar_button url: new_contract_url, label: "crear nuevo contrato",
      icon: "file-text"
  = sidebar_button url: contracts_path, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: assets_path, label: "consultar activos",
    icon: "truck"
  = sidebar_button url: inspection_orders_path,
    label: "seguimiento orden de inspeccion", icon: "eye-open"
  - if current_user.can?(:create, :inspection_order)
    = sidebar_button url: new_inspection_order_path, class: "call-to-action",
      label: "crear orden de inspección", icon: "pencil"
.search-box-container.row
  = form_tag inspections_url, method: :get do
    .field.medium-4.columns
      = search_field_tag :query, nil, placeholder: "Busqueda de inspecciones"
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_number do
        %i.icon-paste.icon-large
        acta
      = radio_button_tag :options, :by_number
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_date do
        %i.icon-time.icon-large
        fecha
      = radio_button_tag :options, :by_date
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_range do
        %i.icon-resize-full.icon-large
        rango
      = radio_button_tag :options, :by_range
    .field.small-6.medium-2.columns.center
      = label_tag :options_by_asset do
        %i.icon-truck.icon-large
        activo
      = radio_button_tag :options, :by_asset
.content-container.row
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('.number')
        %th= t('.inspection_date')
        %th= t('.address')
        %th= t('.asset')
        %th= "Estado"
    %tbody
      - @inspections.each do |inspection|
        %tr
          %td.identifier.center{"data-label" => "#{t('.number')}"}= link_to inspection.inspection_number, inspection
          %td{"data-label" => "#{t('.inspection_date')}"}= inspection.inspection_date.strftime('%d-%m-%y %r %Z')
          %td{"data-label" => "#{t('.address')}"}= "#{inspection.address}, #{inspection.city}, #{inspection.state}"
          %td.center{"data-label" => "#{t('.asset')}"}= link_to inspection.asset_license_plate, inspection.asset
          %td.center{"data-label" => "Estado"}= inspection.overall_condition
  %section.row
    = render 'shared/pagination', collection: @inspections
%footer.content-footer.row
  = link_to :back do
    %i.icon-reply
    regresar
