.row
  %h1= t('.title')
.row
  = link_to t('.new'), new_inspection_path, class: 'icon-file button success radius'
.row
  %table
    %thead
      %tr
        %th= t('.number')
        %th= t('.date')
        %th= t('.asset')
        %th= t('.initial_value')
        %th= t('.current_value')
        %th
        %th
    %tbody
      - @inspections.each do |inspection|
        %tr
          %td.center= link_to inspection.inspection_number, inspection
          %td= inspection.date.strftime('%d-%m-%y %r %Z')
          %td.center= link_to inspection.asset.inventory_number, inspection.asset
          %td= number_to_currency inspection.asset.book_value
          %td= number_to_currency inspection.current_value
          %td.center= link_to '', edit_inspection_path(inspection), class: 'icon-edit'
          %td.center= link_to '', inspection, class: 'icon-trash', method: :delete, data: { confirm: 'Are you sure?' }
.row
  = paginate @inspections, window: 3
.row
  = link_to t('.new'), new_inspection_path, class: 'icon-file button success radius'
