%h1= t('.title')
%p= link_to t('.new'), new_inspection_path, class: 'icon-file button success radius'
.row
  %table.responsive-table.layout.display
    %thead
      %tr
        %th= t('.number')
        %th= t('.inspection_date')
        %th= t('.address')
        %th= t('.asset')
        %th= t('.initial_value')
        %th
        %th
    %tbody
      - @inspections.each do |inspection|
        %tr
          %td.identifier.center{"data-label" => "#{t('.number')}"}= link_to inspection.inspection_number, inspection
          %td{"data-label" => "#{t('.inspection_date')}"}= inspection.inspection_date.strftime('%d-%m-%y %r %Z')
          %td{"data-label" => "#{t('.address')}"}= "#{inspection.address}, #{inspection.city}, #{inspection.state}"
          %td.center{"data-label" => "#{t('.asset')}"}= link_to inspection.asset_inventory_number, inspection.asset
          %td{"data-label" => "#{t('.initial_value')}"}= number_to_currency inspection.asset_book_value
          %td.actions.edit.center= link_to '', edit_inspection_path(inspection), class: 'icon-edit'
          %td.actions.delete.cente= link_to '', inspection, class: 'icon-trash', method: :delete, data: { confirm: 'Are you sure?' }
.row
  = paginate @inspections, window: 3
%p= link_to t('.new'), new_inspection_path, class: 'icon-file button success radius'
