- content_for :title do
  AH - crear inspección
- content_for :content_header do
  = render 'shared/header_title', title: "CREAR INSPECCIÓN"
- content_for :sidebar do
  = sidebar_button url: new_asset_url, label: "crear activo",
    icon: "truck"
  = sidebar_button url: contracts_url, label: "consultar contratos",
    icon: "search"
  = sidebar_button url: assets_url, label: "consultar activos",
    icon: "truck"
  = sidebar_button url: inspections_url, label: "consultar inspecciones",
    icon: "paste"
  = sidebar_button url: inspection_orders_url,
    label: "consultar ordenes de inspección", icon: "eye-open"

.content-container.row
  = render 'form'

= render 'shared/content_footer', target: :back
