%p#notice= notice
.row.collapse
  %h1.large-5.columns
    Inspection Record No.
    = @inspection.inspection_number
  %h2.large-5.columns
    Inspected Asset Inventory number:
    = link_to @inspection.asset.inventory_number, @inspection.asset
= field_set_tag 'Time and Location' do
  .row
    .large-4.columns.centered.push-1
      .row
        %h5 Date and Time:
        = @inspection.date.localtime.strftime('%d-%m-%Y, %r %Z')
      .row
        %h5 Location:
        %ul.vcard
          %li.street-address= @inspection.address
          %li.locality= @inspection.city
          %li.state= @inspection.state
    .large-6.columns.centered
      %img{src: "../assets/map_example.png", alt: "Asset location map. Address: #{@inspection.address}, #{@inspection.state}"}
%a{name: 'vehicle-information', data: {magellan_destination: 'vehicle-information'} }
= field_set_tag 'Vehicle information' do
  .row
    %span.large-2.columns
      %b Vehicle Kind:
    %span.large-2.columns
      = @inspection.asset.kind.name
    %span.large-2.columns
      %b License Plate:
    %span.large-2.columns
      = @inspection.asset.license_plate
    %span.large-2.columns
      %b Chassis number:
    %span.large-2.columns
      = @inspection.asset.chassis_number
  .row
    %span.small-5.large-2.columns
      %b Make:
    %span.small-7.large-2.columns
      = @inspection.asset.make.name
    %span.small-5.large-2.columns
      %b Model:
    %span.small-7.large-2.columns
      = @inspection.asset.model.name
    %span.small-5.large-2.columns
      %b Year:
    %span.small-7.large-2.columns
      = @inspection.asset.year
  .row
    %span.small-6.large-2.columns
      %b Service type:
    %span.small-6.large-2.columns
      = @inspection.asset.service_type
    %span.small-6.large-2.columns
      %b Odometer:
    %span.small-6.large-2.columns
      250.000 kms
    %span.large-2.columns
      %b VIN Number:
    %span.large-2.columns
      = @inspection.asset.vin
  .row
    %span.large-2.columns
      %b Initial value:
    %span.large-2.columns
      = number_to_currency @inspection.asset.book_value
    %span.large-2.columns
      %b Current value:
    %span.large-2.columns
      = number_to_currency @inspection.current_value
    %span.large-2.columns
      %b Appraiser's Value:
    %span.large-2.columns
      = number_to_currency @inspection.appraiser_value
%a{name: 'documents', data: {magellan_destination: 'documents'}}
= field_set_tag 'Documents' do
  .row
    %b.large-2.columns Soat Number:
    %span.large-2.columns
      = @inspection.soat_number
    %b.large-2.columns Coverage begin date:
    %span.large-2.columns
      = @inspection.soat_begin_date
    %b.large-2.columns Coverage finish date:
    %span.large-2.columns
      = @inspection.soat_finish_date
  .row
    %b.large-2.columns Emissions certificate number:
    %span.large-2.columns
      = @inspection.emissions_certificate
    %b.large-2.columns Issue date:
    %span.large-2.columns
      = @inspection.emissions_begin_date
    %b.large-2.columns Expiry date:
    %span.large-2.columns
      = @inspection.emissions_finish_date
%a{name: 'general', data: {magellan_destination: 'general'} }
= field_set_tag 'General Condition' do
  .row
    %b.large-2.columns Maintenance
    %span.large-2.columns
      = @inspection.maintenance ? 'Adecuate' : 'Not performed'
    %b.large-2.columns Repairs
    %span.large-2.columns.pull-4
      = @inspection.repairs ? 'Adecuate' : 'Not performed'
  .row
    %b.large-2.columns Security
    %span.large-2.columns
      = @inspection.security ? 'Adecuate' : 'Not performed'
    %b.large-2.columns Modifications
    %span.large-2.columns.pull-4
      -#= @inspection.modifications ? 'Adecuate' : 'Not performed'
      'Not performed'
  %p
    %h4 Exterior
    %b= "#{@inspection.exterior}. "
    = @inspection.exterior_notes
  %p
    %h4 Interior
    %b= "#{@inspection.interior}. "
    = @inspection.interior_notes
  %p
    %h4 Engine
    %b= "#{@inspection.engine}. "
    = @inspection.engine_notes
- if @inspection.insurance_number
  = field_set_tag 'Insurance' do
    %a{name: 'insurance', data: {magellan_destination: 'insurance'}}
    .row
      %b.large-2.columns Insurance Company:
      %span.large-2.columns
        = @inspection.insurance_company.name
      %b.large-2.columns Insurance number:
      %span.large-2.columns
        = @inspection.insurance_number
      %b.large-2.columns Insured value:
      %span.large-2.columns
        = number_to_currency @inspection.insured_value
    .row
      %b.large-2.columns Coverage starting date:
      %span.large-2.columns
        = @inspection.insurance_start
      %b.large-2.columns Coverage expiry date:
      %span.large-2.columns.pull-4
        = @inspection.insurance_finish
= field_set_tag 'Other Information' do
  - if @inspection.accesories
    %p
      %h4 Accesories
      = @inspection.accesories
  - if @inspection.inventory
    %p
      %h4 Inventory
      = link_to "Inventory", @inspection.inventory
= render 'documents/index', documentable: @inspection
= render 'documents/form', document: Document.new, documentable: @inspection
%br/
= render 'comments/index', commentable: @inspection
%br/
%p
  = link_to 'Back', inspections_path, class: 'icon-reply'
  \|
  = link_to ' Edit', edit_inspection_path(@inspection), class: 'icon-edit'
