- content_for :title do
  = "inspección: #{ @inspection.inspection_number }"
- content_for :sidebar do
  = sidebar_button url: inspections_url, label: "consultar inspecciones",
    icon: "list"
  = sidebar_button url: edit_inspection_url(@inspection.model),
    label: "editar inspección", icon: "edit"
  = sidebar_button url: inspection_url(@inspection.model),
    label: "eliminar inspección", icon: "trash", method: :delete
  = sidebar_button url: inspection_orders_url,
    label: "consultar ordenes de inspección", icon: "eye-open"
  = sidebar_button url: new_inspection_order_url,
    label: "crear nueva orden de inspección", icon: "pencil"
.detail-title
  %span#model_number= "#{ @inspection.inspection_number }"
  %span#model_title
    = "Acta de inspección"
.content-container.row
  %section.row
    .medium-6.columns.center
      = @inspection.document_slider
    .medium-6.columns
      .row
        %h4.section-label= "#{t(".inspection_date")}"
        = @inspection.inspection_date
      .row
        %h4.section-label= "#{t(".location")}"
        .vcard
          .street-address= @inspection.address
          .locality= @inspection.city
          .region= @inspection.state
      .row
        %h4.section-label= "Orden de Inspección"
        = @inspection.inspection_order_id
  %section.row
    %h4.section-label= t('.fieldset.information')
    .row
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.kind_id')}"
        = @inspection.asset_kind_name
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.license_plate')}"
        = link_to @inspection.asset_license_plate, @inspection.asset
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.chassis_number')}"
        = @inspection.asset_chassis_number
    .row
      .small-5.medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.make_id')}"
        = @inspection.asset_make_name
      .small-5.medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.model_id')}"
        = @inspection.asset_model_name
      .small-5.medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.year')}"
        = @inspection.asset_year
    .row
      .small-6.medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.service_type')}"
        = @inspection.asset_service_type
      .small-6.medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.inspection.odometer')}"
        = @inspection.odometer
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.vin')}"
        = @inspection.asset_vin
    .row
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.asset.book_value')}"
        = @inspection.asset_book_value
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.inspection.current_value')}"
        = @inspection.current_value
      .medium-4.columns
        %h5.field-title= "#{t('activerecord.attributes.inspection.appraiser_value')}"
        = @inspection.appraiser_value
  %section.row
    %h4.section-label= t(".fieldset.documents")
    .row
      .medium-4.columns
        %h5.field-title= "#{t(".soat")}"
        = @inspection.soat_number
      .medium-4.columns
        %h5.field-title= "#{t(".soat_begins")}"
        = @inspection.soat_begin_date
      .medium-4.columns
        %h5.field-title= "#{t(".soat_expires")}"
        = @inspection.soat_finish_date
    .row
      .medium-4.columns
        %h5.field-title= "#{t(".emissions")}"
        = @inspection.emissions_certificate
      .medium-4.columns
        %h5.field-title= "#{t(".emissions_begins")}"
        = @inspection.emissions_begin_date
      .medium-4.columns
        %h5.field-title= "#{t(".emissions_expires")}"
        = @inspection.emissions_finish_date
  %section.row
    %h4.section-label= t(".fieldset.condition")
    .row
      .medium-3.columns
        %h5.field-title= "#{t(".maintenance")}"
        = @inspection.maintenance
      .medium-3.columns
        %h5.field-title= "#{t(".repairs")}"
        = @inspection.repairs
      .medium-3.columns
        %h5.field-title= "#{t(".security")}"
        = @inspection.security
      .medium-3.columns
        %h5.field-title= "#{t(".modifications")}"
        = @inspection.modifications
    .row
      %h5.field-title.medium-2.columns
        = t("activerecord.attributes.inspection.exterior")
      %span.medium-4.columns
        %i= @inspection.exterior
      .medium-12.columns
        = @inspection.exterior_notes
    .row
      %h5.field-title.medium-2.columns
        = t("activerecord.attributes.inspection.interior")
      %span.medium-4.columns
        %i= @inspection.interior
      .medium-12.columns
        = @inspection.interior_notes
    .row
      %h5.field-title.medium-2.columns
        = t("activerecord.attributes.inspection.engine")
      %span.medium-4.columns
        %i= @inspection.engine
      .medium-12.columns
        = @inspection.engine_notes
    .row
      %h5.field-title.medium-2.columns
        = "#{t("activerecord.attributes.inspection.accesories")}"
      %span.medium-12.columns
        = @inspection.accesories
  %section.row
    %h4.section-label= t("inspections.form.fieldset.insurance")
    .row
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.insurance_company_id")}"
        = @inspection.insurance_company_name
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.insurance_number")}"
        = @inspection.insurance_number
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.currency")}"
        = @inspection.currency
    .row
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.insurance_start")}"
        = @inspection.insurance_start
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.insurance_finish")}"
        = @inspection.insurance_finish
      .medium-4.columns
        %h5.field-title= "#{t("activerecord.attributes.inspection.insured_value")}"
        = @inspection.insured_value
  .row
    %h5.field-title= "#{t("activerecord.attributes.inspection.observations")}"
    = @inspection.observations
  - if @inspection.inventory
    %section.row
      %h4.section-label= "#{t(".fieldset.other_information")}"
      .row
        %h4= "#{t("activerecord.attributes.inspection.inventory")}"
        = link_to "#{t("activerecord.attributes.inspection.inventory")}", @inspection.inventory
  %section#documents.row
    = render "documents/index", documentable: @inspection
  %section#comments.row
    = render "comments/index", commentable: @inspection
  %section#document-upload.row
    = render "documents/form", document: Document.new, documentable: @inspection
= render "shared/content_footer", target: inspections_path
