%header#page_header.row{ role: "banner" }
  %span.with-fold
  %nav#utility{ role: "navigation" }
    .ah-logo= link_to(image_tag("logo.png", alt: "AssetHound", id: "logo"), root_url, title: "Inicio")
    - if user_signed_in?
      %ul
        -# %li
        -#   = link_to "Actividad reciente", ""
        -# %li
        -#   = link_to "Ayuda", ""
        %li
          = form_tag role: "search" do
            =search_field_tag :search_query, nil, placeholder: "Busqueda"
        %li
          %a#user_settings_button{ href: "#", data: { dropdown: "drop" } }
            = "#{current_user.first_name} #{current_user.last_name} &nbsp; &#10095;".html_safe
      %ul#drop.tiny.f-dropdown{ "data-dropdown-content" => "" }
        %li
          = link_to edit_user_registration_path, title: t("layouts.application.settings") do
            %i.icon-cog.icon-large
            %small= t("layouts.application.settings")
        %li
          = link_to destroy_user_session_path, title: t("layouts.application.sign_out"), method: :delete do
            %i.icon-signout.icon-large
            %small= t("layouts.application.sign_out")
