%nav#main_nav.row{ role: "navigation" }
  %ul.columns.small-12
    %li
      = link_to root_url do
        %i.icon-laptop
        %span Centro de control
    %li
      = link_to contracts_url do
        %i.icon-file-text
        %span= t('.nav.contracts')
    %li
      = link_to assets_url do
        %i.icon-bar-chart
        %span= t('.nav.assets')
    %li
      = link_to inspections_url do
        %i.icon-search
        %span= t('.nav.inspections')
    %li
      = link_to "#" do
        %i.icon-comments-alt
        %span= "FAQ"
    %li
      = link_to "#" do
        %i.icon-building
        %span= "Escuela assethound"
    %li
      = link_to "#" do
        %i.icon-envelope
        %span= "Contacto"
    - if content_for? :main_navigation
      = yield :main_navigation
