%nav#main_nav{ role: "navigation" }
  %ul
    %li
      .text-center
        %i.icon-laptop
      = link_to_unless_current "Centro de control", root_url
    %li
    %li
      .text-center
        %i.icon-file-text
      = link_to_unless_current t('.nav.contracts'), contracts_url
    %li
    %li
      .text-center
        %i.icon-bar-chart
      = link_to_unless_current t('.nav.assets'), assets_url
    %li
    %li
      .text-center
        %i.icon-search
      = link_to_unless_current t('.nav.inspections'), inspections_url
    %li
    %li
      .text-center
        %i.icon-comments-alt
      = link_to_unless_current "FAQ", "#"
    %li
    %li
      .text-center
        %i.icon-building
      = link_to_unless_current "Escuela assethound", "#"
    %li
    %li
      .text-center
        %i.icon-envelope
      = link_to_unless_current "Contacto", "#"
    - if content_for? :main_navigation
      = yield :main_navigation
