<!DOCTYPE html>
<html>
<head>
  <title>Simor</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <header>
        <nav>
            <ul>
                <li><%= link_to_unless_current 'Home', root_url %></li>
                <li><%= link_to_unless_current 'Contracts', contracts_url %></li>
                <li><%= link_to_unless_current 'Contract Categories', categories_url %></li>
                <li><%= link_to_unless_current 'Assets', assets_url %></li>
                <li><%= link_to_unless_current 'Makes', makes_url %></li>
                <li><%= link_to_unless_current 'Models', models_url %></li>
                <li><%= link_to_unless_current 'Colors', colors_url %></li>
                <li><%= link_to_unless_current 'Kinds', kinds_url %></li>
                <li><%= link_to_unless_current 'Bodies', bodies_url %></li>
                <li><%= link_to_unless_current 'BuildRestrictions', build_restrictions_url %></li>

            </ul>
        </nav>
    </header>

<div class="content">
  <div><%= notice %></div>
    <%= yield %>
    <p>
      <%= link_to "Go back", :back %>
    </p>
</div>
<footer>
  &copy; <%= link_to "Morefar S. A. S.", 'http://www.morefar.co'  %> 2013
</footer>
</div>
</body>
  <%= javascript_include_tag "application" %>
</html>
