<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8" />

 <!-- Uncomment to make IE8 render like IE7 -->
 <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

 <!-- Set the viewport width to device width for mobile -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

 <title><%= content_for?(:title) ? yield(:title) : t('.title') %></title>

 <%= stylesheet_link_tag    "application" %>
 <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
 <%= javascript_include_tag "vendor/modernizr" %>
 <%= csrf_meta_tags %>
</head>

<body>

<header id="page_header" class="row" role="banner">
  <div class="columns large-2 small-2" id="ah-logo">
    <%= link_to(image_tag("logo.png", size:"122x74", alt: "AssetHound",
                         id: "logo"), root_url, title: "Inicio") %>
  </div>
  <span id="tagline" class="columns large-2 push-2">assethound</span>
  <div class="columns large-7 push-1">
    <nav id="utility" class="row">
      <%= form_for(User.new, as: "user", url: session_path("user")) do |f|  %>
        <div class="columns large-4"><%= f.email_field :email, placeholder: "correo electrónico" %></div>
        <div class="columns large-4"><%= f.password_field :password, placeholder: "contraseña" %></div>
        <div class="columns large-4"><%= f.submit t("shared.sign_in"), class: "icon-signin button tiny" %></div>
      <% end %>
    </nav>
  </div>
</header>
    <div class="container row">
      <div class="row">
        <% flash.each do |k,v| %>
          <div class='flash <%= k %>'><%= v %></div>
      <% end %>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </div>
  <%= render "layouts/footer" %>
  <%= javascript_include_tag "application" %>
</body>
</html>
