<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
 <meta charset="utf-8" />

 <!-- Uncomment to make IE8 render like IE7 -->
 <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

 <!-- Set the viewport width to device width for mobile -->
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />
 <%= favicon_link_tag "favicon32.ico" %>
 <title><%= content_for?(:title) ? yield(:title) : t('.title') %></title>

 <%= stylesheet_link_tag    "application" %>
 <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
 <%= javascript_include_tag "vendor/modernizr" %>
 <%= csrf_meta_tags %>
</head>

<body class="landing">

<header id="page_header" class="row" role="banner">
  <span class="with-fold landing"></span>
  <nav id="utility" class="row">
    <div class="ah-logo" id="logo">
      <%= link_to(image_tag("logo.png", alt: "AssetHound",
                          id: "logo"), root_url, title: "Inicio") %>
    </div>
    <div class="clearfix">
      <%= form_for(User.new, as: :user, url: new_user_session_path) do |f|  %>
        <ul class="static">
          <%# <li> <a href="#">Qué es asset<strong>hound</strong>?</a></li> %>
          <li ><%= f.email_field :email, placeholder: "correo electrónico" %></li>
          <li ><%= f.password_field :password, placeholder: "contraseña" %></li>
          <li ><%= f.submit "&#10095;".html_safe, id:"login-btn" %></li>
        </ul>
      <% end %>
    </div>
  </nav>
</header>
    <div class="container row">
      <%- unless flash.empty? %>
        <div class="row">
          <% flash.each do |k,v| %>
            <div class='flash <%= k %>'><%= v %></div>
          <% end %>
        </div>
      <% end -%>
      <div class="static-content">
        <%= yield %>
      </div>
    </div>
  <%= render "layouts/footer" %>
  <%= javascript_include_tag "application" %>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.4/waypoints.min.js"></script>
 <script src="http://cdnjs.cloudflare.com/ajax/libs/stellar.js/0.6.2/jquery.stellar.min.js"></script>
</body>
</html>
